<legend style="margin-bottom: 10px;">{{getCurrentLabelValue('lblBookingsManagement')}}</legend>
<div class="row" style="height: 5%; margin-bottom: 10px;">
  <div class="col-md-12" style="height: 100%;">
    {{getCurrentLabelValue('lblSearchBy')}}
    <select style="margin-left: 5px;" [(ngModel)]="searchType">
      <option *ngFor="let type of searchTypes" [value]="type.id">{{getCurrentLabelValue(type.value)}}</option>
    </select>
    <input type="text" style="margin-left: 5px; width: 150px; padding: 2px;" placeholder="{{getCurrentLabelValue('lblSearchTerms')}}"
      [(ngModel)]="searchString">
    <button class="btn btn-primary from-control" style="margin-left: 5px;" (click)="searchBooking()"><i
        class="fa fa-search"></i></button>
    <button class="btn btn-primary from-control" style="margin-left: 5px;" (click)="clearSearchBooking()"><i
        class="fa fa-undo"></i></button>
  </div>
</div>
<div class="row" style="height:95%">
  <div class="col-md-2" style="height:100%;">
    <bf-booking-filter2 [idCompany]="idCompany" [isFilteredByEmployeeRole]="true" [selectedDate]="shiftedDate"
      (filterChanged)="filterChanged($event)">
    </bf-booking-filter2>
  </div>
  <div *ngIf="bookingDefaultDuration" class="col-md-10" style="height:100%; overflow-x: auto;">
    <bf-booking-hours *ngIf="!showCalendarBooking" [idCompany]="idCompany" [selectedFilter]="selectedFilter"
      [bookingSearchFilter]="bookingSearchFilter" [allowFullCalendarNavigation]="true"
      (selectDate)="onShiftWeek($event)" (selectTimeSlot)="onSelectBookingHour($event)"></bf-booking-hours>
  </div>
</div>

<p-dialog header="{{getCurrentLabelValue('lblBookingsManagement')}}" (onHide)="onCloseManageBookingsDialog()" [(visible)]="displayDialogConfirmBooking"
  [responsive]="true" showEffect="fade" [modal]="true" width="1200">
  <ul class="nav nav-tabs">
    <li (click)="selectTab('add')" [class.disabled]="!isAddTabEnabled" [class.active]="tabs.add.active"
      style="cursor: pointer;">
      <a style="color: black"><i class="fa fa-calendar-plus-o"></i> {{getCurrentLabelValue('lblAddBooking')}}</a>
    </li>
    <li (click)="selectTab('edit')" [class.active]="tabs.edit.active" style="cursor: pointer;">
      <a style="color: black;"><i class="fa fa-edit"></i> {{getCurrentLabelValue('lblEditBooking')}}</a>
    </li>
  </ul>
  <div [hidden]="!tabs.add.active">
    <bf-booking-confirm-dialog [isBookingByDay]="showCalendarBooking"
      [selectedDayTime]="selectedBookingHourTransferObject?selectedBookingHourTransferObject.workingDay:null"
      [autoAssignedEntityCombination]="autoAssignedEntityCombination" [idCompany]="idCompany" [isAdminAddBooking]="true"
      (bookingSaved)="bookingSaved($event)"></bf-booking-confirm-dialog>
  </div>
  <div [hidden]="!tabs.edit.active">
    <p *ngIf="timeslotBookings.length==0">{{getCurrentLabelValue('lblNoBookingsSavedYet')}}</p>
    <bf-booking-management-dialog [bookings]="timeslotBookings" [idCompany]="idCompany"
      (bookingRemoved)="deleteBooking($event)" (bookingCanceled)="cancelBooking($event)"
      (bookingMoved)="editBooking($event)"></bf-booking-management-dialog>

  </div>
</p-dialog>

<p-growl [value]="pageMsgs"></p-growl>