<div class="row">
  <div class="col-md-6">
    <h5>{{getCurrentLabelValue('lblRoles')}}</h5>

    <p-table #dtRoles [value]="roles" selectionMode="single" [(selection)]="selectedRole" selectionMode="single"
      (onRowSelect)="onRowSelect($event)" (onRowUnselect)="cancelUnselect($event)" [columns]="cols" [responsive]="true" scrollable="true" scrollHeight="450px">
      <ng-template pTemplate="caption">
        <div class="row">
          <div class="offset-md-6 col-6">
          <i class="fa fa-search pointer text-primary" style="position: absolute; top: 10px; right: 25px;"></i>
          <input type="text" pInputText size="50" placeholder="Filter"
            (input)="dtRoles.filterGlobal($event.target.value, 'contains')" class="form-control form-control-sm"></div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="text-align:center;" *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{getCurrentLabelValue(col.header)}}
            <p-sortIcon [field]="col.field">
            </p-sortIcon>
          </th>
          <th colspan="2" class="text-right" style="width: 120px;">
              <i class="fa fa-plus fa-lg text-success pointer" title="{{getCurrentLabelValue('lblAdd')}}" (click)="onAddClick()"></i>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-role let-columns="columns">
        <tr [pSelectableRow]="role">
          <td *ngFor="let col of columns" style="text-align:center;">
            {{role[col.field]}}
          </td>
          <td style="text-align:center; width: 60px;">
            <button class="btn btn-link" [disabled]="!role.isEditable">
              <i class="fa fa-edit fa-lg text-primary pointer" title="{{getCurrentLabelValue('lblEdit')}}" (click)="onEditClick(role)"> </i>
            </button>
          </td>
          <td style="text-align:center; width: 60px;">
            <button [disabled]="!role.isEditable" class="btn btn-link">
              <i class="fa fa-trash fa-lg text-danger pointer" title="{{getCurrentLabelValue('lblDelete')}}" (click)="onDeleteClick(role)"> </i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="col-md-6"> 
    <h5>{{getCurrentLabelValue('lblModules')}}</h5>
    <p-table #dtModules [value]="siteModules" selectionMode="single" [columns]="colsModule" [responsive]="true"
      scrollable="true" scrollHeight="450px">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width:50px;text-align:center"></th>
          <th style="text-align:left; width: 100px;" *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{getCurrentLabelValue(col.header)}}
            <p-sortIcon [field]="col.field">
            </p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-siteModule let-columns="columns">
        <tr [ngStyle]="{'background-color':isCheckedModule(siteModule.id)?'lightblue':'white'}">
          <td style="width:50px;text-align:center">
            <input type="checkbox" [checked]="isCheckedModule(siteModule.id)" style="width:20px;height:20px;"
              [disabled]="!selectedRole.isEditable" (change)="onModuleLinkChange($event,siteModule)">
          </td>
          <td *ngFor="let col of columns" style="text-align:left; width: 100px;">
            {{siteModule[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="{{isAddRoleMode == true ? getCurrentLabelValue('lblAddRole') : getCurrentLabelValue('lblEditRole')}}"
  [(visible)]="displayDialogRole" [responsive]="true" showEffect="fade" [modal]="true" width="600">
  <form class="form-horizontal" style="height: 100%" id="addRole-form" [formGroup]="addRoleForm"
    (ngSubmit)="onAddRoleFormSubmit()">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="roleName">{{getCurrentLabelValue('lblRoleName')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="roleName" formControlName="roleName" [ngClass]="{'valid-control':addRoleForm.controls['roleName'].valid,
                        'invalid-control':!addRoleForm.controls['roleName'].valid}" class="form-control">
        </div>
      </div>
    </div>
    <br>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" [disabled]="!addRoleForm.valid" class="btn btn-success">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblSave')}}</i>
        </button>
      </div>
    </footer>
  </form>
</p-dialog>


<p-dialog header="Confirm delete role" [(visible)]="displayConfirmDeleteRole" [responsive]="true" showEffect="fade"
  [modal]="true" width="350">
  <p>{{getCurrentLabelValue('lblRoleDeleteWarning')}}</p>
  <br>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button class="btn btn-light" type="button" pButton (click)="onCancelDeleteRoleClick()" [label]="'No'"> </button>
      <button class="btn btn-primary mx-2" type="button" pButton (click)="onConfirmDeleteRoleClick()" [label]="'Yes'"></button>

    </div>
  </footer>
</p-dialog>

<p-growl [value]="pageMsgs"></p-growl>