<div class="row">
  <div class="col-md-12 my-2"><h3>{{getCurrentLabelValue('lblStructureLevels')}}</h3>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4">

    <div class="row">
      <div class="col-md-9">
        <select [(ngModel)]="selectedLevel" (change)="onDdlChangeLevel()" class="form-control form-control-sm">
          <option *ngFor="let l of levels" [value]="l.id">{{currentCulture == 'EN' ? l.levelName_EN : l.levelName_RO}}
          </option>
        </select>
      </div>
      <div class="col-md-3">
          <i class="fa fa-edit fa-lg btn-primary p-2" (click)="showLevelDialog(false)"></i>
          <i class="fa fa-plus fa-lg btn-success p-2 mx-2" (click)="showLevelDialog(true)"></i>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-12 col-md-5">

    <p-table [value]="entities" selectionMode="single" [responsive]="true" scrollable="true" scrollHeight="500px">
      <ng-template pTemplate="caption">
        {{getCurrentLabelValue('lblEntities')}}
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{getCurrentLabelValue('lblEntityName_RO')}}</th>
          <th>{{getCurrentLabelValue('lblEntityName_EN')}}</th>
          <th style="width:65px">
              <i class="fa fa-plus fa-lg text-success pointer" title="{{getCurrentLabelValue('lblAdd')}}" (click)="showAddEntityDialog()"></i>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entity>
        <tr [pSelectableRow]="entity">
          <td>{{entity.entityName_RO}}</td>
          <td>
          <td style="width:65px">
              <i  class="fa fa-edit fa-lg text-primary pointer" title="{{getCurrentLabelValue('lblEdit')}}" (click)="editEntity(entity.id)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-12 col-md-7">
    <p-table [value]="levelCharacteristics" selectionMode="single" [responsive]="true" scrollable="true"
      scrollHeight="99%">
      <ng-template pTemplate="caption">
        {{getCurrentLabelValue('lblLevelAdditionalCharacteristics')}}
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{getCurrentLabelValue('lblName_RO')}}</th>
          <th>
          <th>
          <th>
          <th style="width:65px">
            <i class="fa fa-plus fa-lg text-success pointer" title="{{getCurrentLabelValue('lblAdd')}}" (click)="showAddLevelCharacteristicDialog(true)"></i>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-characteristic>
        <tr [pSelectableRow]="characteristic">
          <td>{{characteristic.characteristicName_RO}}</td>
          <td>{{characteristic.characteristicName_EN}}</td>
          <td>{{characteristic.levelFieldType_EN}}</td>
          <td>
            <input type="checkbox" [checked]="characteristic.isFrontOption" disabled="true" />
          </td>
          <td style="width:65px">

              <i class="fa fa-edit fa-lg text-primary pointer" title="Edit" (click)="selectedLevelCharacteristic = characteristic; showAddLevelCharacteristicDialog(false)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog
  header="{{isAddEntityMode == true ? getCurrentLabelValue('lblAddEntity') : getCurrentLabelValue('lblEditEntity')}}"
  [(visible)]="displayDialogAddEntity" [responsive]="true" showEffect="fade" [modal]="true" width="600">
  <form class="form-horizontal" style="height: 100%" id="addEntity-form" [formGroup]="addEntityForm"
    (ngSubmit)="onAddEntityForm()">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="addEntityName_RO">{{getCurrentLabelValue('lblEntityName_RO')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="addEntityName_RO" formControlName="addEntityName_RO" [ngClass]="{'valid-control':addEntityForm.controls['addEntityName_RO'].valid,
                        'invalid-control':!addEntityForm.controls['addEntityName_RO'].valid}" class="form-control">
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="addEntityName_EN">{{getCurrentLabelValue('lblEntityName_EN')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="addEntityName_EN" formControlName="addEntityName_EN" [ngClass]="{'valid-control':addEntityForm.controls['addEntityName_EN'].valid,
                        'invalid-control':!addEntityForm.controls['addEntityName_EN'].valid}" class="form-control">
        </div>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" (click)="setEntitySubmitType(true)" [disabled]="!addEntityForm.valid"
          class="btn btn-success">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblSave')}}</i>
        </button>
        <button type="submit" (click)="setEntitySubmitType(false)" *ngIf="!isAddEntityMode" class="btn btn-danger mx-1">
          <i class="fa fa-remove"> {{getCurrentLabelValue('lblDelete')}}</i>
        </button>
      </div>
    </footer>
  </form>
</p-dialog>


<p-dialog
  header="{{isAddLevelMode == true ? getCurrentLabelValue('lblAddLevel') : getCurrentLabelValue('lblEditLevel')}}"
  [(visible)]="displayDialogAddLevel" [responsive]="true" showEffect="fade" [modal]="true" width="600">
  <form class="form-horizontal" style="height: 100%" id="addLevel-form" [formGroup]="addLevelForm"
    (ngSubmit)="onAddLevelForm()">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="addLevelName_RO">{{getCurrentLabelValue('lblLevelName_RO')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="addLevelName_RO" formControlName="addLevelName_RO" [ngClass]="{'valid-control':addLevelForm.controls['addLevelName_RO'].valid,
                        'invalid-control':!addLevelForm.controls['addLevelName_RO'].valid}" class="form-control">
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="addLevelName_EN">{{getCurrentLabelValue('lblLevelName_EN')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="addLevelName_EN" formControlName="addLevelName_EN" [ngClass]="{'valid-control':addLevelForm.controls['addLevelName_EN'].valid,
                        'invalid-control':!addLevelForm.controls['addLevelName_EN'].valid}" class="form-control">
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="ddlType_dialog">{{getCurrentLabelValue('lblType')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <select formControlName="addLevelType" class="form-control form-control-sm" (change)="onDdlChangeLevelType()">
            <option *ngFor="let t of types" [value]="t.id">{{currentCulture == 'EN' ? t.value_EN : t.value_RO}}</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <label class="col-md-5 control-label" for="duration">{{getCurrentLabelValue('lblDefaultDuration')}}:</label>
        <div class="col-md-3">
          <!-- <input id="duration" (keyup)="checkDuration($event.target.value)" type="text" 
          formControlName="duration" [ngClass]="{'valid-control':addLevelForm.controls['duration'].valid,
                        'invalid-control':!addLevelForm.controls['duration'].valid}" class="form-control"> -->
          <select formControlName="duration" class="form-control form-control-sm">
            <option *ngFor="let d of durationArray" [value]="d.value">{{d.label}}</option>
          </select>
        </div>
        <div class="col-md-4">
          <select formControlName="duration_type"
            (change)="loadDurationArray(this.addLevelForm.controls['duration_type'].value)" class="form-control form-control-sm">
            <option *ngFor="let t of durationTypes" [disabled]="t.id==3" [value]="t.id">
              {{currentCulture == 'EN' ? t.value_EN : t.value_RO}}</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="addLevelIsMultipleBookings"
                value="">{{getCurrentLabelValue('lblMultipleBookings')}}</label>
          </div>
        </div>
        <div class="ui-grid-col-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="addLevelIsFrontOption"
                value="">{{getCurrentLabelValue('lblAllowUserOption')}}</label>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" (click)="setLevelSubmitType(true)" [disabled]="!addLevelForm.valid"
          class="btn btn-success">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblSave')}}</i>
        </button>
        <button type="submit" (click)="setLevelSubmitType(false)" *ngIf="!isAddLevelMode" class="btn btn-danger mx-1">
          <i class="fa fa-remove"> {{getCurrentLabelValue('lblDelete')}}</i>
        </button>
      </div>
    </footer>
  </form>
</p-dialog>

<p-dialog
  header="{{isAddCharacteristicMode == true ? getCurrentLabelValue('lblAddLevelCharacteristic') : getCurrentLabelValue('lblEditLevelCharacteristic')}}"
  [(visible)]="displayDialogAddLevelCharacteristic" [responsive]="true" showEffect="fade" [modal]="true" width="400">
  <form class="form-horizontal" style="height: 100%" id="addLevelCharact-form" [formGroup]="addLevelCharactForm"
    (ngSubmit)="onAddLevelCharactForm()">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="addLevelCharactName_RO">{{getCurrentLabelValue('lblName_RO')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="addLevelCharactName_RO" formControlName="addLevelCharactName_RO" [ngClass]="{'valid-control':addLevelCharactForm.controls['addLevelCharactName_RO'].valid,
                        'invalid-control':!addLevelCharactForm.controls['addLevelCharactName_RO'].valid}"
            class="form-control">
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label style="padding: 5px;" for="addLevelCharactName_EN">{{getCurrentLabelValue('lblName_EN')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" id="addLevelCharactName_EN" formControlName="addLevelCharactName_EN" [ngClass]="{'valid-control':addLevelCharactForm.controls['addLevelCharactName_EN'].valid,
                        'invalid-control':!addLevelCharactForm.controls['addLevelCharactName_EN'].valid}"
            class="form-control">
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="ddlFieldType_dialog">{{getCurrentLabelValue('lblType')}}:</label>
        </div>
        <div class="ui-grid-col-8">
          <select id="ddlFieldType_dialog" formControlName="addLevelCharactFieldType" class="form-control">
            <option *ngFor="let t of levelFieldTypes" [value]="t.id">
              {{currentCulture == 'EN' ? t.value_EN : t.value_RO}}</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="checkbox">
          <label>
            <input type="checkbox" formControlName="addLevelCharactIsFrontOption"
              value="">{{getCurrentLabelValue('lblAllowUserOption')}}</label>
        </div>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" (click)="setCharacteristicSubmitType(true)" [disabled]="!addLevelCharactForm.valid"
          class="btn btn-success">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblSave')}}</i>
        </button>
        <button type="submit" (click)="setCharacteristicSubmitType(false)" *ngIf="!isAddCharacteristicMode"
          class="btn btn-danger mx-1">
          <i class="fa fa-remove"> {{getCurrentLabelValue('lblDelete')}}</i>
        </button>
      </div>
    </footer>
  </form>
</p-dialog>

<p-dialog header="Confirm" [(visible)]="displayConfirmDeleteLevel" [responsive]="true" showEffect="fade" [modal]="true"
  width="350">
  <bf-generic-confirm-dialog [confirmMessage]="confirmDeleteLevelMessage" (onConfirm)="onConfirmDeleteLevel($event)">
  </bf-generic-confirm-dialog>
</p-dialog>
<p-growl [value]="pageMsgs"></p-growl>