<div class="container-fluid">
  <div class="row">
    <div *ngIf="bookings" class="col-md-12">
      
        <div class="alert alert-info text-white" *ngFor="let booking of bookings; let i = index" (click)="selectBooking(booking)"
          [ngClass]="{'selected': (selectedBooking!=null ? booking.id == selectedBooking.id : false)}">
          {{booking.email + " - " + booking.phone}}</div>
      
    </div>
    <div *ngIf="selectedBooking" class="col-md-3">
      <div *ngFor="let entity of selectedBooking.entities">
        <div class="badge badge-info">{{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</div>
        <div *ngIf="entity.images">
          <img *ngIf="entity.images.length>0" [src]="'data:image/png;base64,'+entity.images[0].img"
            style="cursor:pointer; height: auto;width: auto;max-height: 150px;max-width: 100%;">
          <img *ngIf="entity.images.length==0" [src]="COMP_IMG"
            style="height: auto;width: auto;max-height: 100px;max-width: 100%;">
        </div>
      </div>
    </div>
    <div *ngIf="selectedBooking" class="col-md-6">
      <form class="form-horizontal">

        <div class="row">
          <div class="col-5">
            <label for="firstName">{{getCurrentLabelValue('lblFirstName')}}:</label>
          </div>
          <div class="col-md-7">
            <span>{{selectedBooking.firstName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="lastName">{{getCurrentLabelValue('lblLastName')}}:</label>
          </div>
          <div class="col-md-7">
            <span>{{selectedBooking.lastName}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="phone">{{getCurrentLabelValue('lblPhone')}}:</label>
          </div>
          <div class="col-md-7">
            <span>{{selectedBooking.phone}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <label for="startTime">{{getCurrentLabelValue('lblDate')}}:</label>
          </div>
          <div class="col-md-7">
            <span>{{selectedBooking.startDate | date:'dd.MMM.yyyy'}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="startTime">{{getCurrentLabelValue('lblStartTime')}}:</label>
          </div>
          <div class="col-md-7">
            <span>{{selectedBooking.startTime | date:'HH:mm'}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="endTime">{{getCurrentLabelValue('lblEndTime')}}:</label>
          </div>
          <div class="col-md-7">
            <span>{{selectedBooking.endTime | date:'HH:mm'}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <label for="status">Status:</label>
          </div>
          <div class="col-md-7">
            <span>{{getBookingStatusString(selectedBooking.idStatus)}}</span>
          </div>
        </div>


        <footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix my-2">
            <button *ngIf="showHonoredButton" class="btn btn-success" (click)="setBookingHonored()"
              [disabled]="isButtonDisabledByRole()">
              <i class="fa fa-check"> {{getCurrentLabelValue('lblHonored')}}</i>
            </button>
            <button *ngIf="showCancelButton" class="btn btn-warning" (click)="cancelBooking()"
              [disabled]="isButtonDisabledByRole()" style="margin-left: 5px;">
              <i class="fa fa-remove"> {{getCurrentLabelValue('lblCancelBooking')}}</i>
            </button>
            <button *ngIf="showDeleteButton" class="btn btn-danger" (click)="deleteBooking()"
              [disabled]="isButtonDisabledByRole()" style="margin-left: 5px;">
              <i class="fa fa-remove"> {{getCurrentLabelValue('lblDelete')}}</i>
            </button>
          </div>
        </footer>
      </form>
    </div>
    <div *ngIf="selectedBooking" class="col-md-3">
      <b> {{getCurrentLabelValue('lblMoveSelectedBookingTo')}}:</b>

      <bf-booking-filter2 [idCompany]="idCompany" [isFilteredByEmployeeRole]="true" [selectedDate]="moveBookingDate"
        [doResetFilters]="doResetMoveFilter" [isMoveBookingFilter]="true"
        (filterChanged)="moveBookingfilterChanged($event)">
      </bf-booking-filter2>
      <div>{{getCurrentLabelValue('lblNewStartTime')}}:
        <select class="form-control" [(ngModel)]="selectedMoveTimeslot">
          <option *ngFor="let timeslot of moveBookingTimeslots" [value]="getDateStringWrapper(timeslot.startTime)">
            {{getTimeStringWrapper(timeslot.startTime)}}</option>
        </select>
      </div>
      <div class="mt-2">
        <button class="btn btn-success"
          [disabled]="entityNotSelected || isButtonDisabledByRole() || selectedMoveTimeslot==null"
          (click)="editBooking()">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblMoveBooking')}}</i>
        </button>
      </div>
    </div>
  </div>
</div>
<p-growl [value]="pageMsgs"></p-growl>