<div>
  <div *ngIf="bookings" class="col-md-3" style="height: 100%;">
    <ol style="padding:0px;">
      <li class="list-group-item" style="cursor:pointer" *ngFor="let booking of bookings; let i = index"
        (click)="selectBooking(booking)"
        [ngClass]="{'selected': (selectedBooking!=null ? booking.id == selectedBooking.id : false)}">
        {{booking.email + " - " + booking.phone}}</li>
    </ol>
  </div>
  <div *ngIf="selectedBooking" class="col-md-2">
    <div *ngFor="let entity of selectedBooking.entities">
      <div class="label label-default">{{entity.entityName_EN}}</div>
      <div *ngIf="entity.images">
        <img *ngIf="entity.images.length>0" [src]="'data:image/png;base64,'+entity.images[0].img"
          style="cursor:pointer; height: auto;width: auto;max-height: 150px;max-width: 100%;">
        <img *ngIf="entity.images.length==0" [src]="COMP_IMG"
          style="height: auto;width: auto;max-height: 100px;max-width: 100%;">
      </div>
    </div>
  </div>
  <div *ngIf="selectedBooking" class="col-md-4">
    <!-- <div class="row" style="padding-left:20px;padding-right: 20px;">
      <h4 *ngFor="let entity of selectedBooking.entities"
        style="display: inline-block; padding-left:5px;padding-right: 5px;">
        <span
          class="label label-default">{{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</span>
      </h4>
    </div>
    <br> -->
    <form class="form-horizontal" style="height: 100%; width:100%;">
      <div>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="firstName">First Name:</label>
            </div>
            <div class="col-md-1">
              <span>{{selectedBooking.firstName}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="lastName">Last Name:</label>
            </div>
            <div class="col-md-1">
              <span>{{selectedBooking.lastName}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="phone">Phone:</label>
            </div>
            <div class="col-md-1">
              <span>{{selectedBooking.phone}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="startTime">Date:</label>
            </div>
            <div class="col-md-1">
              <span>{{selectedBooking.startDate | date:'dd.MMM.yyyy'}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="startTime">Start Time:</label>
            </div>
            <div class="col-md-1">
              <span>{{selectedBooking.startTime | date:'HH:mm'}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="endTime">End Time:</label>
            </div>
            <div class="col-md-1">
              <span>{{selectedBooking.endTime | date:'HH:mm'}}</span>
            </div>
          </div>
        </div>
        <br>
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row">
            <div class="ui-grid-col-5">
              <label style="padding: 5px;" for="status">Status:</label>
            </div>
            <div class="col-md-1">
              <span>{{getBookingStatusString(selectedBooking.idStatus)}}</span>
            </div>
          </div>
        </div>
        <br>
      </div>
      <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button *ngIf="showHonoredButton" class="btn btn-success" (click)="setBookingHonored()" [disabled]="isButtonDisabledByRole()">
            <i class="fa fa-check"> Honored</i>
          </button>
          <button *ngIf="showCancelButton" class="btn btn-warning" (click)="cancelBooking()" [disabled]="isButtonDisabledByRole()"
            style="margin-left: 5px;">
            <i class="fa fa-remove"> Cancel booking</i>
          </button>
          <button *ngIf="showDeleteButton" class="btn btn-danger" (click)="deleteBooking()" [disabled]="isButtonDisabledByRole()"
            style="margin-left: 5px;">
            <i class="fa fa-remove"> Delete</i>
          </button>
        </div>
      </footer>
    </form>
  </div>
  <div *ngIf="selectedBooking" class="col-md-3">
    <span style="font-weight: bold;"> Move selected booking to:</span>
    <bf-booking-filter2 [idCompany]="idCompany" [isFilteredByEmployeeRole]="true" [selectedDate]="moveBookingDate" [doResetFilters]="doResetMoveFilter" 
      [isMoveBookingFilter]="true" (filterChanged)="moveBookingfilterChanged($event)">
    </bf-booking-filter2>
    <div>New Start Time:
      <select style="margin-top: 10px; height: 30px;" [(ngModel)]="selectedMoveTimeslot">
        <option *ngFor="let timeslot of moveBookingTimeslots" [value]="getDateStringWrapper(timeslot.startTime)">
          {{getTimeStringWrapper(timeslot.startTime)}}</option>
      </select>
    </div>
    <div>
      <button class="btn btn-success" style="margin-top: 10px;"
        [disabled]="entityNotSelected || isButtonDisabledByRole() || selectedMoveTimeslot==null"
        (click)="editBooking()">
        <i class="fa fa-check"> Move booking</i>
      </button>
    </div>
  </div>
</div>

<p-growl [value]="pageMsgs"></p-growl>