<div class="container-fluid">
  <div class="row">
    <div *ngIf="bookings" class="col-md-3 px-0">
      
        <div class="alert alert-info p-2 mb-1 rounded-0" *ngFor="let booking of bookings; let i = index" (click)="selectBooking(booking)"
          [ngClass]="{'selected bolder': (selectedBooking!=null ? booking.id == selectedBooking.id : false)}">
          {{booking.email + "  " + booking.phone}}
        
          <p class="bolder"><i class="fa fa-history fa-lg text-primary"></i> {{getBookingStatusString(booking.idStatus)}}
          </p>
          
        </div>
      
    </div>
    <div *ngIf="selectedBooking" class="col-md-6">
      <div class="row">

          <div class="col-md-4" *ngFor="let entity of selectedBooking.entities">
            <div>{{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</div>
            <div *ngIf="entity.images">
              <img class="w-auto mt-1 border p-1 bg-white" style="max-height: 125px;" *ngIf="entity.images.length>0" [src]="'data:image/png;base64,'+entity.images[0].img">
              <img class="w-auto mt-1 border p-1 bg-white" style="max-height: 125px;" *ngIf="entity.images.length==0" [src]="COMP_IMG">
            </div>
          </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          
            <div class="row">
              <div class="col-12">
                 <h4 class="mt-1">{{selectedBooking.firstName}} {{selectedBooking.lastName}}</h4>

                <p class="bolder"><i class="fa fa-phone-square fa-lg text-primary"></i> {{selectedBooking.phone}}</p>
              
                <p class="py-2"><i class="fa fa-calendar text-primary mr-1"></i> 
                  <span class="bolder">{{selectedBooking.startDate | date:'dd.MMM.yyyy'}} </span> 
                  <span class="bg-light border-bottom p-1">{{selectedBooking.startTime | date:'HH:mm'}} - {{selectedBooking.endTime | date:'HH:mm'}}</span></p>
              
               
             
                
                <p class="bolder pt-1"><i class="fa fa-credit-card fa-lg text-primary"></i> {{selectedBooking.bookingPrice}} lei </p>
              </div>
            </div>
          
          
            <footer>
              <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix my-2">
                <button *ngIf="showHonoredButton" class="btn btn-success" (click)="setBookingHonored()"
                  [disabled]="isButtonDisabledByRole()">
                  <i class="fa fa-check"> {{getCurrentLabelValue('lblHonored')}}</i>
                </button>
                <button *ngIf="showCancelButton" class="btn btn-warning" (click)="cancelBooking()"
                  [disabled]="isButtonDisabledByRole()" style="margin-left: 5px;">
                  <i class="fa fa-remove"> {{getCurrentLabelValue('lblCancelBooking')}}</i>
                </button>
                <button *ngIf="showDeleteButton" class="btn btn-danger" (click)="deleteBooking()"
                  [disabled]="isButtonDisabledByRole()" style="margin-left: 5px;">
                  <i class="fa fa-trash"> {{getCurrentLabelValue('lblDelete')}}</i>
                </button>
              </div>
            </footer>
        </div>
      </div>

    </div>
    <div *ngIf="selectedBooking" class="col-md-3">
      <h5 class="mb-2"> {{getCurrentLabelValue('lblMoveBooking')}}</h5>

      <bf-booking-filter2 [idCompany]="idCompany" [isFilteredByEmployeeRole]="true" [selectedDate]="moveBookingDate"
        [doResetFilters]="doResetMoveFilter" [isMoveBookingFilter]="true" [isForAdmin]="true"
        (filterChanged)="moveBookingfilterChanged($event)">
      </bf-booking-filter2>
      <div *ngIf="moveBookingPrice!=null" class="row">
        <div class="col-5">
          <label for="status">{{getCurrentLabelValue('lblPrice')}}:</label>
        </div>
        <div class="col-md-7">
          <span>{{moveBookingPrice}}</span>
        </div>
      </div>
      <div>{{getCurrentLabelValue('lblNewStartTime')}}:
        <select class="form-control" [(ngModel)]="selectedMoveTimeslot">
          <option *ngFor="let timeslot of moveBookingTimeslots" [value]="getDateStringWrapper(timeslot.startTime)">
            {{getTimeStringWrapper(timeslot.startTime)}}</option>
        </select>
      </div>
      <div class="mt-2">
        <button class="btn btn-success"
          [disabled]="entityNotSelected || isButtonDisabledByRole() || selectedMoveTimeslot==null"
          (click)="editBooking()">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblMoveBooking')}}</i>
        </button>
      </div>
    </div>
  </div>
</div>
<p-growl [value]="pageMsgs"></p-growl>