<div class="row">
  <div class="col-md-1">
    <button type="button" class="btn btn-primary btn-sm mr-1" (click)="btnChangeMonth('backward')"><i
        class="fa fa-angle-left"></i></button>
    <button type="button" class="btn btn-primary btn-sm" (click)="btnChangeMonth('forward')"><i
        class="fa fa-angle-right"></i></button>
  </div>
  <div class="col-md-11 text-center">
    <h4>{{getMonthName() + " " + selectedYear.toString()}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th *ngFor="let dayName of getDayNames()" class="bg-light text-center">
            {{dayName}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of dayDates;let i = index">
          <td *ngFor="let dayDate of week" class="daySlot"
            [ngClass]="{'daySlot':!slotIsCurrentDate(dayDate.dateNumber), 'daySlot-currentDay':slotIsCurrentDate(dayDate.dateNumber)}"
            [ngStyle]="{'height': calendarRowHeight}" (click)="timeSlotClick(dayDate)" cdkDropList
            [id]="dayDate.yearNumber.toString()+'-'+(dayDate.monthNumber + 1).toString()+'-'+ dayDate.dateNumber.toString()"
            [cdkDropListConnectedTo]="getSlotIdsAsString()" (cdkDropListDropped)="onEventDrop($event)">

            <div class="row">
              <div class="col-3">
                <span [ngClass]="{'text-secondary':!dayDate.isCurrentMonth, 'text-normal':dayDate.isCurrentMonth}">
                  {{dayDate.dateNumber}}</span>
              </div>

              <div class="col-9" *ngFor="let event of getDateSlotEvent(dayDate.dateNumber, dayDate.monthNumber, dayDate.yearNumber)">

                <div class="pointer px-2 bg-danger text-white" cdkDrag [cdkDragData]="event" (click)="onEventClick(event)"
                  [ngStyle]="{'background':event.color}">

                  <span style="cursor: pointer">{{event.title}}</span>
                </div>

              </div>

            </div>

          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>