
<ul class="slots-view" style="margin-bottom: 0px;">

  <li *ngFor="let d of hoursMatrix; let i = index"
    [ngStyle]="{'width': (singleDay==-1 ? commonMethods.computeDayColumnWidth(hoursMatrix) : '85%')}">
    <div class="day-title unselectable">
      <b>{{getCurrentLabelValue(dayNames[singleDay==-1 ? i : singleDay])}}</b>
      <div>{{(dayDates[i]!=null?(dayDates[i] | date:'dd.MMM.yyyy'):'')}}</div>
      <div>
        <p-inputSwitch [disabled]="disabled" [(ngModel)]="dayOff[i]" onLabel="On" offLabel="Off"
          (onChange)="onSetDayOff($event,i)"></p-inputSwitch>
      </div>
    </div>
  </li>
</ul>


<div id="parentDiv" (mousemove)="onMousemove($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">

  <div *ngIf="singleDay==-1" id='selectionDiv' class="ghost-select" [ngClass]="{'ghost-active': isSelecting}" 
  [style.left]="selectorLeft.toString()+'px'" 
  [style.top]="selectorTop.toString()+'px'" 
  [style.height]="selectorH.toString()+'px'" 
  [style.width]="selectorW.toString()+'px'"><span></span></div> 

<ul class="slots-view">
  <!--style="vertical-align: bottom;margin-bottom: 2px;width:6%;"-->

  <li *ngFor="let d of hoursMatrix; let i = index" 
  [ngStyle]="{'width': (singleDay==-1 ? commonMethods.computeDayColumnWidth(hoursMatrix) : '85%')}">
    <!-- <div class="day-title unselectable">
      <b>{{getCurrentLabelValue(dayNames[singleDay==-1 ? i : singleDay])}}</b>
      <div>{{(dayDates[i]!=null?(dayDates[i] | date:'dd.MMM.yyyy'):'')}}</div>
      <div>
        <p-inputSwitch [disabled]="disabled" [(ngModel)]="dayOff[i]" onLabel="On" offLabel="Off" (onChange)="onSetDayOff($event,i)"></p-inputSwitch>
      </div>
    </div> -->
    <div class="time-slots unselectable">
      <div class="hour-row" *ngFor="let h of d; let j = index">
        <!-- <div class="time-select-div" [ngClass]="{'selected':h[0].isSelected,'disabled':!h[0].isSelectable}" (click)="activateTimeSlot(i,j,0)"><span>{{h[0].val}}</span></div>
        <div class="time-select-div" [ngClass]="{'selected':h[1].isSelected,'disabled':!h[1].isSelectable}" (click)="activateTimeSlot(i,j,1)"><span>{{h[1].val}}</span></div> -->
        <div *ngFor="let ts of h; let k = index" class="time-select-div" [id] = "i + '_' + j + '_' + k"
        [ngStyle]="{'width': commonMethods.computeTimeslotWidth(hoursMatrix)}" style="margin-right: 2px;"
        [ngClass]="{'selected':ts.isSelected,'disabled':!ts.isSelectable}" (click)="activateTimeSlot(i,j,k)">
          <span>{{getTimeslotValueAsString(ts)}}</span> 
        </div> 
      </div>
    </div>
  </li>
</ul>
</div>

<!-- </div> -->