<div class="container mt-3">
  <div class="row">
    <div class="col-md-9 p-4 bg-light shadow">

      <div class="row">
        <div class="col-md-12">
          <h3>Contact</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <form class="form-horizontal" style="height: 100%" id="user-form" [formGroup]="contactForm"
            (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">{{getCurrentLabelValue('lblFirstName')}}:</label>
              <div class="col-md-9">
                <input type="text" id="firstName" formControlName="firstName" [ngClass]="{'valid-control':contactForm.controls['firstName'].valid,
                        'invalid-control':!contactForm.controls['firstName'].valid}" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">{{getCurrentLabelValue('lblLastName')}}:</label>
              <div class="col-md-9">
                <input type="text" id="lastName" formControlName="lastName" [ngClass]="{'valid-control':contactForm.controls['lastName'].valid,
                                    'invalid-control':!contactForm.controls['lastName'].valid}" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">{{getCurrentLabelValue('lblEmail')}}:</label>
              <div class="col-md-9">
                <input type="text" id="email" formControlName="email" [ngClass]="{'valid-control':contactForm.controls['email'].valid,
                                                'invalid-control':!contactForm.controls['email'].valid}"
                  class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">{{getCurrentLabelValue('lblPhone')}}:</label>
              <div class="col-md-9">
                <input type="text" id="phone" formControlName="phone" [ngClass]="{'valid-control':contactForm.controls['phone'].valid,
                                                            'invalid-control':!contactForm.controls['phone'].valid}"
                  class="form-control">
              </div>
            </div>
           

            <div class="form-group">
              <label class="col-sm-3 control-label" for="subject">{{getCurrentLabelValue('lblSubject')}}:</label>
              <div class="col-md-9">                
                <select formControlName="subject" class="form-control">
                  <option value="Feedback">Feedback</option>
                  <option value="Request">{{getCurrentLabelValue('lblRequest')}}</option>
                  <option value="Complaint">{{getCurrentLabelValue('lblComplaint')}}</option>
                  <option value="Suggestion">{{getCurrentLabelValue('lblSuggestion')}}</option>
                  <option value="Other">{{getCurrentLabelValue('lblOther')}}</option>
                </select>
              </div>
            </div>   
            
            <div class="form-group">
              <label class="col-sm-3 control-label" for="message">{{getCurrentLabelValue('lblMessage')}}:</label>
              <div class="col-md-9">
                <textarea id="message" [ngClass]="{'valid-control':contactForm.controls['message'].valid,
                                                'invalid-control':!contactForm.controls['message'].valid}"
                  formControlName="message" type="text" class="form-control input-md"></textarea>
              </div>
            </div>
            
            <div class="form-group">
              <div class="col-md-9">
              <div class="checkbox">
                <label>
                  <input formControlName="agree"  type="checkbox" (change)="isUserAgree()">
                  {{getCurrentLabelValue('lblIHaveRead')}}
                  <a [routerLink]="['/gdpr']" routerLinkActive="selectedCategory"><b style="color: red;"> {{getCurrentLabelValue('lblPrivacyPolicy')}}</b></a>                  
                  {{getCurrentLabelValue('lblAndIAgree')}}</label>
              </div>
              </div>
            </div>
            <div class="form-group text-center">
              <div class="col-md-9">
              <re-captcha #captchaRef="reCaptcha" (resolved)="onResolvedCaptcha($event)"
                siteKey="6LeVnM8UAAAAAJFBBcJNj4ceTxF7R55dH1LxQQRe"></re-captcha>
            </div>
</div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="btnSubmit"></label>
              <div class="col-md-9">
                <button [disabled]="!contactForm.valid || !validCaptcha || !agree" type="submit" id="btnSubmit"
                  class="btn btn-success from-control">
                  <i class="fa fa-save"></i> {{getCurrentLabelValue('lblSubmit')}}
                </button>
              </div>
            </div>
          </form>
        </div>
        </div>
        </div>
        </div>
        </div>

<p-growl [value]="pageMsgs"></p-growl>