<!--<legend>Company</legend>-->
<div class="row" style="height: 100%">
  <div id="wrapper" [ngClass]="{toggled:!sidebarShow}">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav" style="margin-left:0;">
        <li style="cursor: pointer;" class="sidebar-brand" (click)="toggleSideBar()">
          <a id="menu-toggle" style="margin-top:20px;float:right;">
            <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i></a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['generaldetails']" routerLinkActive="selectedCategory">
            <i class="fa fa-file-text-o " aria-hidden="true"></i>
            <span style="margin-left:10px;"> Company</span>
          </a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['levels']" routerLinkActive="selectedCategory">
            <i class="fa fa-server " aria-hidden="true"></i>
            <span style="margin-left:10px;"> Levels</span>
          </a>
        </li>        
        <li style="cursor: pointer;">
          <a [routerLink]="['entities']" routerLinkActive="selectedCategory"> 
            <i class="fa fa-child" aria-hidden="true"></i>
            <span style="margin-left:10px;"> Entities</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['timetables']" routerLinkActive="selectedCategory">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span style="margin-left:10px;"> Timetables</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['level-linking']" routerLinkActive="selectedCategory"> <i class="fa fa-sitemap" aria-hidden="true"> </i>
            <span style="margin-left:10px;"> Level Linking</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['bookings']" routerLinkActive="selectedCategory">
            <i class="fa fa-calendar " aria-hidden="true"></i>
          <span style="margin-left:10px;"> Bookings</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a> <i class="fa fa-vcard-o" aria-hidden="true"> </i>
            <span style="margin-left:10px;"> Clients</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['reviews']" routerLinkActive="selectedCategory"> <i class="fa fa-thumbs-o-up" aria-hidden="true"> </i>
            <span style="margin-left:10px;"> Reviews</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a> <i class="fa fa-cogs" aria-hidden="true"> </i>
            <span style="margin-left:10px;"> Settings</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a> <i class="fa fa-line-chart" aria-hidden="true"> </i>
            <span style="margin-left:10px;"> Charts</span> </a>
        </li>
        <li style="cursor: pointer;">
          <a [routerLink]="['subscription']" routerLinkActive="selectedCategory"> <i class="fa fa-credit-card" aria-hidden="true"> </i>
            <span style="margin-left:10px;"> Subscription</span> </a>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->


    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Page Content -->

  <div class="col-md-12" style="height: 100%;padding-left: 50px;">
    <router-outlet></router-outlet>
  </div>

</div>