<h4 class="center product-search-title">Politica de prelucrare a datelor</h4>
<br>
<p>www.booxy.ro colecteaza date de contact despre utilizatorii siteului iar colectarea acestor
  date se face doar in scopul identificarii utilizatorilor de catre prestatorul de servicii, adica companiile la care utilizatorul doreste sa se programeze online.</p>
<p>www.booxy.ro salveaza in baza de date numele, email-ul si telefonul utilizatorului atunci cand acesta realizeaza o programare noua.
  De asemenea, pentru a putea identifica utilizatorul si programarile sale, acesta trebuie sa se identifice prin nume,
  adresa de email sau numarul sau de telefon.
</p>
<p>www.booxy.ro nu a instrainat si nu va instraina catre terti niciodata aceste date. Singurele entitati care au acces la aceste date sunt www.booxy.ro 
  si companiile la care utilizatorul a facut o programare online. Daca doriti
  stergerea tuturor datelor colectate de www.booxy.ro despre dumneavoastra, trimiteti un mail la
  contact@booxy.ro, specificand numele dumneavostra, numarul de telefon si/sau adresa de e-mail si ne vom ocupa cu celeritate de
  acest lucru.</p>
  
  <p>Informatiile prezentate in continuare au scopul de a aduce la cunostinta utilizatorului mai multe detalii despre
  plasarea, folosirea si administrarea “cookie”-urilor utilizate de site-ul www.booxy.ro si ale platformelor asociate
  acestuia (in continuare “website”).
  
  Atunci cand vizitati website-ul vom colecta informatii despre dumneavoastra utilizand programe denumite “cookies”,
  programe care salveaza fisiere de mici dimensiuni pe echipamentul dumneavoastra.</p>  
  
  <h4>COOKIES – ce reprezinta si cum sunt utilizate:</h4>
  
  <p>Cookie-urile asigura functionarea corecta a website-ului nostru si sunt programe (date) de dimensiuni foarte mici
    stocate pe computerul dumneavoastra care permit web server-ului nostru sa va “recunoasca” (in fapt sa identifice web
    browser-ul utilizat de dumneavostra), in sensul in care va tine minte actiunile si preferintele dumneavoastra in timp.
  </p>
  
  <p>Cookie (“browser cookie” sau “HTTP cookie”) este un fisier de mici dimensiuni, format din litere si numere, care este
    stocat pe orice terminal cu acces la internet (computer, telefon mobil, tableta etc.) si este instalat prin solicitare
    emisa de catre un web-server unui browser (ex: Internet Explorer, Chrome).</p>
  
  <p>Cookie-urile nu contin programe software, virusi sau spyware si nu pot accesa informatiile de pe hard drive-ul
    utilizatorului. Cookie-urile nu solicita informatii cu caracter personal si nu identifica personal utilizatorii de
    internet.</p>
  
  <p>Un cookie este format din nume si continut, durata de existenta a acestuia fiind determinata, putand fi accesat din
    nou de webserver in momentul in care un utilizator se intoarce pe website-ul asociat webserverului respectiv.</p>
  
  <p>Cookie-urile noastre nu retin date cu caracter personal cum ar fi numele dumneavoastra. Tratam cu seriozitate
    protectia datelor cu caracter personal – intotdeauna monitorizam si imbunatatim modul in care le putem proteja.</p>
  
  <h4>COOKIES – functionalitate si avantaje:</h4>
  
  <p>Cookie-urile au rolul de a facilita accesul si livrarea serviciilor personalizate fiecarui utilizator care acceseaza
    website-ul nostru, prin ajustarea anumitor setari si functionalitati oferite (e.g. limba, tara etc.). Cookie-urile nu
    sunt virusi si ne permit sa va furnizam o experienta mult mai buna de navigare si servicii adaptate nevoilor si
    intereselor utilizatorilor. Cookie-urile, pe baza informatiilor pe care le aduna despre utilizatori, ne permit sa ne
    eficientizam website-ul astfel incat acesta sa fie cat mai usor accesat</p>
  
  <h4>CATEGORII DE COOKIES FOLOSITE:</h4>
  
  <p>Am clasificat cookie-urile noastre in urmatoarele categorii, pentru a va&nbsp;fi mai usor sa intelegeti de ce avem
    nevoie de ele:</p>
  
  <p><strong>Cookie-uri de sesiune</strong> (temporare) - acestea sunt stocate temporar in dosarul de cookie-uri al web
    browser-ului pentru ca acesta sa le memoreze pana cand utilizatorul iese de pe website-ul respectiv sau inchide
    fereastra web browser-ului (de exemplu: in momentul logarii/delogarii pe un cont de utilizator);</p>
  
  <p><strong>Cookie-uri persistente </strong>- Acestea sunt stocate pe computerul dumneavoastra si persista pe durata de
    viata prestabilita pentru cookies;</p>
  
  <p><strong>Targeting/publicitate</strong> sunt tot cookie-uri persistente si sunt plasate de un alt website decat cel pe
    care il viziteaza utilizatorul la momentul respectiv si care pot fi folosite in mod anonim pentru a memora interesele
    unui utilizator, astfel incat sa fie transmisa publicitate cat mai relevanta pentru utilizatori. Acestea sunt
    utilizate pentru a face schimb de anumite informatii cu terte parti cu care facem reclama, pentru a sti cum ati ajuns
    pe site-ul nostru. De asemenea, putem utiliza cookie-uri pentru a identifica partile site-ului de care sunteti
    interesat. Utilizam apoi aceste informatii pentru a va arata reclame si pagini care credem ca va pot interesa, pentru
    a individualiza modul in care comunicam cu dumneavoastra sau pentru a individualiza continutul comunicarilor pe care
    vi le trimitem. Daca preferati, puteti opta pentru a renunta la acestea. Individualizarea continutului inseamna ca
    acesta include informatii care reflecta interesul pe care l-ati aratat fata de continutul paginilor noastre sau oferte
    ori promotii care credem ca v-ar putea interesa, si pentru a imbunatati modul in care raspundem la necesitatile
    dumneavoastra.</p>
  
  <p>Folosim aceste cookie-uri pentru:</p>
  
  <ul>
    <li>a distinge utilizatori diferiti, in scopul afisarii de publicitate pe site</li>
    <li>a livra, masura si imbunatati relevanta reclamelor</li>
    <li>a inregistra renuntarea utilizatorului la afisarea de publicitate</li>
    <li>a deschide o destinatie in aplicatie, la instalare</li>
    <li>personalizarea reclamelor pe Google Search (cele mai recente cautari, interactiunile anterioare cu reclamele sau
      rezultatele cautarii, precum si vizitele utilizatorului pe site)</li>
    <li>publicitatea pe care Google o serveste pe web</li>
    <li>masurarea interactiunilor cu reclamele pe domeniul plasat si pentru a preveni afisarea prea frecventa a acestora
    </li>
    <li>a determina de cate ori a dat click un utilizator pe o reclama si a cumparat un produs</li>
  </ul>
  
  <h4>NEACCEPTAREA COOKIE-URILOR</h4>
  
  <p>Toate web browser-ele moderne va dau optiunea sa nu acceptati cookie-urile. Trebuie sa tineti cont de faptul ca daca
    nu acceptati cookie-urile este posibil ca anumite pagini de pe website-ul nostru sa nu functioneze optim.</p>
  
  <p>De exemplu, daca stergeti cookie-urile de pe dispozitivul dumneavoastra, toate preferintele pe care le-ati configurat
    pentru website-urile pe care le vizitati (inclusiv www.booxy.com) se vor pierde, cum ar fi preferinta de limba
    romana.</p>
  
  <p>Pentru modificarea preferintelor dumneavostra in ceea ce priveste cookie-urile va recomandam, ca functie de web
    browser-ul utilizat, sa actionati conform urmatoarelor ghiduri:</p>
  
  <ul>
    <li>Mozilla Firefox: http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</li>
    <li>Google Chrome: https://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647&amp;p=cpn_cookies</li>
    <li>Internet Explorer: http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies</li>
    <li>Safari: http://support.apple.com/kb/PH5042</li>
  </ul>
  
  <h4>INFORMATII ADITIONALE DESPRE COOKIE</h4>
  
  <p>Daca doriti sa aflati cum sa opriti site-urile web sa utilizeze cookie-uri pentru a-si aminti ce site-uri vizitati,
    selectati browser-ul din lista. Aceasta va va duce pe pagina respectivului browser, unde puteti administra
    cookie-urile si datele privind site-ul:</p>
  
  <ul>
    <li>Chrome</li>
    <li>Firefox</li>
    <li>Internet Explorer</li>
    <li>Safari</li>
  </ul>
  
  <p>Daca va modificati setarile privind cookie-urile din browser, experienta dumneavoastra cu noi nu va fi monitorizata.
  </p>
  
  <p>Puteti gasi informatii aditionale&nbsp; privind controlul si stergerea cookie-urilor la urmatoarele surse:</p>
  
  <ul>
    <li>http://www.allaboutcookies.org</li>
    <li>http://youronlinechoices.com/uk/download-guide</li>
  </ul>
  
  <h4>CONTACT BOOXY</h4>
  
  <p>Pentru orice intrebari despre modul de utilizare a cookie-urilor in legatura cu website-ul nostru www.booxy.ro va
    invitam sa ne contactati pe adresa de email gdpr@booxy.ro</p>  
  
  <p>Ne rezervam dreptul de a verifica identitatea dumneavoastra conform prevederilor Regulamentului 679/2016 GDPR.</p>
  
  <h4>ACTUALIZAREA POLITICII COOKIES BOOXY</h4>
  
  <p>Prezenta politica de cookies este revizuita periodic pentru a include toate masurile tehnice si organizatorice
    introduse de booxy pentru imbunatatirea functionalitatilor website-ului nostru www.booxy.com si pentru a contribui
    la un mediu informatic echilibrat si securizat.</p>
  
  <p>Ultima actualizare a politicii de cookies: 17 ianuarie 2020</p>