<div class="row">
  <div class="col-md-12 my-2">
    <h3>{{getCurrentLabelValue('lblCompanyDetails')}}</h3>
  </div>
</div>


<div class="row">
  <div *ngIf="company" class="col-md-6">
    <form class="form-horizontal" id="user-form">
      <div class="row">
        <label class="col-md-2 control-label" for="name">{{getCurrentLabelValue('lblName')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{company.name}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="description">{{getCurrentLabelValue('lblDescription')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{currentCulture == 'EN' ? company.description_EN : company.description_RO}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="category">{{getCurrentLabelValue('lblCategory')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{currentCulture == 'EN' ? company.categoryName_EN : company.categoryName_RO}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="subcategory">{{getCurrentLabelValue('lblSubCategory')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{currentCulture == 'EN' ? company.subcategoryName_EN : company.subcategoryName_RO}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="county">{{getCurrentLabelValue('lblCounty')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{company.countyName}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="city">{{getCurrentLabelValue('lblCity')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{company.cityName}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="address">{{getCurrentLabelValue('lblAddress')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{company.address}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="email">Email:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{company.email}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="phone">{{getCurrentLabelValue('lblPhone')}}:</label>
        <div class="col-md-10">
          <input type="text" class="form-control-plaintext" readonly value="{{company.phone}}">
        </div>
      </div>
      <div class="row">
        <label class="col-md-2 control-label" for="phone">{{getCurrentLabelValue('lblWorkingHours')}}</label>
        <div class="col-md-10">
          <ul *ngIf="companyWorkingHours">
            <li>
              Luni: {{getWorkingHoursString(companyWorkingHours.monday.workHours.toString())}}
            </li>
            <li>
              Marti: {{getWorkingHoursString(companyWorkingHours.tuesday.workHours.toString())}}
            </li>
            <li>
              Miercuri: {{getWorkingHoursString(companyWorkingHours.wednesday.workHours.toString())}}
            </li>
            <li>
              Joi: {{getWorkingHoursString(companyWorkingHours.thursday.workHours.toString())}}
            </li>
            <li>
              Vineri: {{getWorkingHoursString(companyWorkingHours.friday.workHours.toString())}}
            </li>
            <li>
              Sambata: {{getWorkingHoursString(companyWorkingHours.saturday.workHours.toString())}}
            </li>
            <li>
              Duminica: {{getWorkingHoursString(companyWorkingHours.sunday.workHours.toString())}}
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <ul *ngIf="images.length>0" class="imgList">
          <li *ngFor="let img of images; let i=index">
            <img class="img-thumbnail" [src]="'data:image/png;base64,'+img.img" (click)="onImageClick(img)"
              style="cursor:pointer; height: auto;width: auto;max-height: 150px;max-width: 100%;">
          </li>
        </ul>
        <img *ngIf="images.length==0" [src]="COMP_IMG"
          style="height: auto;width: auto;max-height: 100px;max-width: 100%;">
      </div>
    </div>
    <br>
    <div class="row" style="height: 65%;">
      <div class="col-md-12" style="height: 100%;">
        <p-gmap #map [options]="mapOptions" [style]="{'width':'100%','height':'100%'}" [overlays]="gMapOverlays">
        </p-gmap>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayImageDialog" [responsive]="true" showEffect="fade" [modal]="false" width="600"
  height="500">
  <img *ngIf="selectedImage!=null" [src]="'data:image/png;base64,'+selectedImage.img"
    style="height: auto;width: auto;max-height: 450px!important;max-width: 550px!important;">
</p-dialog>

<button *ngIf="company && company.allowOnlineBookings" class="btn btn-primary from-control"
  (click)="goToBooking(idCompany,companyName)"><i class="fa fa-arrow-right"></i>
  {{getCurrentLabelValue('lblBookNow')}}</button>
<span *ngIf="company && !company.allowOnlineBookings">{{getCurrentLabelValue('lblCompanyNotAllowBookings')}}.</span>