<div class="row">
  <div *ngFor="let level of filteredLevelsForDropdowns">
    <div *ngIf="(level.isFrontOption || isForAdmin) && !(isFilteredByEmployeeRole && level.idLevelType == 3 && currentUserIsEmployee)">
      <div class="row">
        <div class="col-12">
          <b>{{currentCulture == 'EN' ? level.levelName_EN : level.levelName_RO}}</b>
        </div>
        <div *ngFor="let characteristic of level.levelCharacteristics; let i = index" class="col-12 my-2">
          <select class="form-control" *ngIf="characteristic.isFrontOption && !isMoveBookingFilter"
            id="ddlLevelCharacteristics_{{level.id}}_{{characteristic.id}}"
            [(ngModel)]="getSelectedCharacteristic(level.id,characteristic.id).selectedValue"
            (change)="doFilterEntitiesByCharacteristics(level.id)">
            <option value="-1">Select
              {{currentCulture=='EN'? characteristic.characteristicName_EN:characteristic.characteristicName_RO}} /
              Reset</option>
            <option *ngFor="let charactValue of characteristic.characteristicValues"
              [value]="charactValue.idFieldType==1? charactValue.numericValue :(currentCulture == 'EN'? charactValue.textValue_EN: charactValue.textValue_RO)">
              {{charactValue.idFieldType==1? charactValue.numericValue : (currentCulture =='EN'? charactValue.textValue_EN : charactValue.textValue_RO)}}
            </option>
          </select>
        </div>
        <div class="col-12 my-2">
          <select class="form-control" id="ddlLevelEntities"
            [(ngModel)]="getSelectedEntitiesByIdLevel(level.id).idEntity" (change)="doFilterEntities(level.id)">
            <option value="-1">Select {{currentCulture == 'EN' ? level.levelName_EN : level.levelName_RO}} / Reset
            </option>
            <option *ngFor="let entity of level.entities" [value]="entity.id">
              {{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</option>
          </select>
          <div *ngIf="getSelectedImage(level.id)!=null && !isMoveBookingFilter">
            <img [src]="'data:image/png;base64,'+getSelectedImage(level.id)" class="w-100 mt-1 border p-1 bg-white">
          </div>
        </div>
      </div>
    </div></div>
    </div>
    <div class="row">
      <div class="col-12 my-2">
        <p-calendar [showIcon]="true" [(ngModel)]="selectedDate" (onSelect)="applyFilter()" [minDate]="today"
          placeholder="Date" [locale]="currentCulture == 'EN' ? en :ro" readonlyInput="true" dateFormat="dd.M.yy"
          styleClass="px-0 mx-0" inputStyleClass="w-75" icon="fa fa-calendar">
        </p-calendar>
      </div>
      <div class="col-12">
    
        <button *ngIf="!isMoveBookingFilter" class="btn btn-primary" (click)="resetFilters()">
          <i class="fa fa-refresh"></i> {{getCurrentLabelValue('lblResetFilters')}}
        </button>
      </div>
    </div>
    
    <p-growl [value]="pageMsgs"></p-growl>