<div class="row">
  <div *ngFor="let level of filteredLevelsForDropdowns">
    <div *ngIf="(level.isFrontOption || isForAdmin) && !(isFilteredByEmployeeRole && level.idLevelType == 3 && currentUserIsEmployee)">
      <div class="row">
        <div class="col-12">
          <b>{{currentCulture == 'EN' ? level.levelName_EN : level.levelName_RO}}</b>
        </div>
        <div *ngFor="let characteristic of level.levelCharacteristics; let i = index" class="col-12 my-2">
          <select class="form-control" *ngIf="characteristic.isFrontOption && !isMoveBookingFilter"
            id="ddlLevelCharacteristics_{{level.id}}_{{characteristic.id}}"
            [(ngModel)]="getSelectedCharacteristic(level.id,characteristic.id).selectedValue"
            (change)="doFilterEntitiesByCharacteristics(level.id)">
            <option value="-1">Select
              {{currentCulture=='EN'? characteristic.characteristicName_EN:characteristic.characteristicName_RO}} /
              Reset</option>
            <option *ngFor="let charactValue of characteristic.characteristicValues"
              [value]="charactValue.idFieldType==1? charactValue.numericValue :(currentCulture == 'EN'? charactValue.textValue_EN: charactValue.textValue_RO)">
              {{charactValue.idFieldType==1? charactValue.numericValue : (currentCulture =='EN'? charactValue.textValue_EN : charactValue.textValue_RO)}}
            </option>
          </select>
        </div>
        <div class="col-12 my-2">
          <select class="form-control" id="ddlLevelEntities"
            [(ngModel)]="getSelectedEntitiesByIdLevel(level.id).idEntity" (change)="doFilterEntities(level.id)">
            <option value="-1">Select {{currentCulture == 'EN' ? level.levelName_EN : level.levelName_RO}} / Reset
            </option>
            <option *ngFor="let entity of level.entities" [value]="entity.id">
              {{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</option>
          </select>
          <div *ngIf="getSelectedImage(level.id)!=null && !isMoveBookingFilter">
            <img [src]="'data:image/png;base64,'+getSelectedImage(level.id)"
              style="cursor:pointer; height: auto;width: auto;max-height: 150px;max-width: 100%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
        <div class="col-12">
  <p-calendar [showIcon]="true" [(ngModel)]="selectedDate" (onSelect)="applyFilter()" [minDate]="today"
    placeholder="Date" [locale]="currentCulture == 'EN' ? en :ro" readonlyInput="true" dateFormat="dd.M.yy">
  </p-calendar>
        </div>
<div class="col-12 my-2">

  <button *ngIf="!isMoveBookingFilter" class="btn btn-primary" (click)="resetFilters()">
    <i class="fa fa-refresh"></i> {{getCurrentLabelValue('lblResetFilters')}}
  </button>
</div>
</div>

<p-growl [value]="pageMsgs"></p-growl>