
<div class="container-fluid">
<div class="row">
<div *ngIf="autoAssignedEntityCombination" class="col-md-3">
  <div *ngFor="let entity of autoAssignedEntityCombination.entityCombination">
    <div class="label label-default"><span class="badge badge-info p-1">{{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</span></div>
    <div>
      <img *ngIf="entity.images.length>0" [src]="'data:image/png;base64,'+entity.images[0].img" class="w-100 mt-1 border p-1 bg-white">
      <img *ngIf="entity.images.length==0" [src]="COMP_IMG" class="w-100 mt-1 border p-1 bg-white">
    </div>
  </div>
</div>
<div class="col-md-9">
  <form *ngIf="autoAssignedEntityCombination!=null" class="form-horizontal" id="addLevel-form" [formGroup]="confirmBooking" (ngSubmit)="saveBooking()">
    
      <div class="row">
        <div class="col-md-4">
          <label for="firstName">{{getCurrentLabelValue('lblFirstName')}}:</label>
        </div>
        <div class="col-md-8">
          <input type="text" id="firstName" formControlName="firstName" [ngClass]="{'valid-control':confirmBooking.controls['firstName'].valid,
                      'invalid-control':!confirmBooking.controls['firstName'].valid}" class="form-control">
        </div>
      </div>
    
      <div class="row my-1">
        <div class="col-4">
          <label style="padding: 5px;" for="lastName">{{getCurrentLabelValue('lblLastName')}}:</label>
        </div>
        <div class="col-8">
          <input type="text" id="lastName" formControlName="lastName" [ngClass]="{'valid-control':confirmBooking.controls['lastName'].valid,
                      'invalid-control':!confirmBooking.controls['lastName'].valid}" class="form-control">
        </div>
      </div>
    
      <div class="row">
        <div class="col-4">
          <label for="phone">{{getCurrentLabelValue('lblPhone')}}:</label>
        </div>
        <div class="col-8">
          <input type="text" id="phone" formControlName="phone" [ngClass]="{'valid-control':confirmBooking.controls['phone'].valid,
        'invalid-control':!confirmBooking.controls['phone'].valid}" class="form-control">
        </div>
      </div>

      <div class="row my-1">
        <div class="col-4">
          <label for="email">Email:</label>
        </div>
        <div class="col-8">
          <input type="text" id="email" formControlName="email" [ngClass]="{'valid-control':confirmBooking.controls['email'].valid,
        'invalid-control':!confirmBooking.controls['email'].valid}" class="form-control">
        </div>
      </div>
    
      <div class="row">
        <div class="col-4">
          <label for="price">{{getCurrentLabelValue('lblPrice')}}:</label>
        </div>
        <div class="col-8">
          <input type="text" id="price" style="background-color: #91f291;" formControlName="price" disabled="true"
            class="form-control">
        </div>
      </div>
 
      
    <div *ngIf="isBookingByDay">
      
        <div class="row my-1">
          <div class="col-4">
            <label for="startDate">{{getCurrentLabelValue('lblStartDate')}}:</label>
          </div>
          <div class="col-md-8">
            <p-calendar [showIcon]="true" formControlName="startDate" [locale]="en" placeholder="Date"
              dateFormat="dd.M.yy" readonlyInput="true"></p-calendar>
          </div>
        </div>
      
        <div class="row">
          <div class="col-4">
            <label style="padding: 5px;" for="endDate">{{getCurrentLabelValue('lblEndDate')}}:</label>
          </div>
          <div class="col-md-8">
            <p-calendar [showIcon]="true" formControlName="endDate" [locale]="en" placeholder="Date"
              dateFormat="dd.M.yy" readonlyInput="true"></p-calendar>
          </div>
        </div>
     </div>

    <div *ngIf="!isBookingByDay">
      
        <div class="row my-1">
          <div class="col-4">
            <label for="date">{{getCurrentLabelValue('lblDate')}}:</label>
          </div>
          <div class="col-md-8">
            <p-calendar formControlName="date" [locale]="en" placeholder="Date" dateFormat="dd.M.yy"></p-calendar>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label for="startTime">{{getCurrentLabelValue('lblStartTime')}}:</label>
          </div>
          <div class="col-md-8">
            <p-calendar formControlName="startTime" hourFormat="24" [locale]="en" [stepMinute]="30" placeholder="Date"
              [timeOnly]="true" readonlyInput="true"></p-calendar>
          </div>
        </div>

        <div class="row my-1">
          <div class="col-4">
            <label for="endTime">{{getCurrentLabelValue('lblEndTime')}}:</label>
          </div>
          <div class="col-md-8">
            <p-calendar formControlName="endTime" hourFormat="24" [locale]="en" placeholder="Date" [timeOnly]="true">
            </p-calendar>
          </div>
        </div>

    </div>
    <footer>
      <div>
        <re-captcha *ngIf="!isAdminAddBooking" #captchaRef="reCaptcha" (resolved)="onResolvedCaptcha($event)"
          siteKey="6LeVnM8UAAAAAJFBBcJNj4ceTxF7R55dH1LxQQRe"></re-captcha>
      </div>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="submit" [disabled]="!confirmBooking.valid || !validCaptcha" class="btn btn-success mt-2 mb-4">
          <i class="fa fa-check"> {{getCurrentLabelValue('lblConfirmation')}}</i>
        </button>
      </div>
    </footer>
  </form>
</div>
</div>
<p-growl [value]="pageMsgs"></p-growl>
</div>