.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    margin-bottom: 15px;    
    height: 30px;
    background-color: #428eeb;
    color: white;
    padding-left: 20px;
}