<div class="container-fluid">
  <div *ngIf="!iframe && !isLanding" class="row">
    <div class="col-md-12 px-0">
      <bf-header></bf-header>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-12 mb-5">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="fixed-bottom bg-primary p-2 text-white ">
  <div  class="row">
    <div class="col-md-12 text-center">
      <a [routerLink]="['/contact']" routerLinkActive="selectedCategory" class=" text-white">Contact</a>

      © Copyright. All rights reserved.
    </div>
  </div>
  </div>

  <div *ngIf="showTermsAndConditionsDiv" class="bg-info p-2 fixed-bottom text-white">
    
      Acest site foloseste cookie-uri pentru a imbunatati experienta utilizatorilor. Continuarea navigarii pe site
      implica acceptarea
      <a [routerLink]="['/gdpr']" routerLinkActive="selectedCategory" class="text-white font-weight-bolder"> politicii de utilizare a cookie-urilor si politicii de prelucrare a datelor </a>
      si a
      <a [routerLink]="['/termsconditions']" routerLinkActive="selectedCategory" class="text-white font-weight-bolder"> termenilor si conditiilor </a>
    

    <i class="fa fa-close float-right pointer" (click)="showTermsAndConditionsDiv=false"></i>
  </div>
</div>

<p-growl [value]="pageMsgs"></p-growl>