<nav class="navbar navbar-default" style="margin-bottom:0px">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav" style="height:100%">
        <li routerLinkActive="active" style="height:100%">
          <a [routerLink]="['/searchcompany']">
          {{getCurrentLabelValue('lblSearch')}}
          </a>
        </li>            
      </ul>-->
      <!-- <select style="height: 40px;width: 150px;" [(ngModel)]="selectedCountryId" (change)="loadTowns()">           
           <option *ngFor="let c of countriesDic" [value]="c.id">{{c.name_Formatted}}</option>
      </select> -->

      <select style="height: 40px;width: 150px;" [(ngModel)]="selectedCountyId" (change)="loadCities()">
        <option value="0">All Counties</option>
        <option *ngFor="let county of countiesDic; let i=index" [value]="county.id">{{county.name}}</option>
      </select>

      <select style="height: 40px;width: 150px;margin-left: 5px;" [(ngModel)]="selectedCityId">
        <option value="0">All cities</option>
        <option *ngFor="let city of citiesDic; let i=index" [value]="city.id">{{city.name}}</option>
      </select>

      <input type="text" [(ngModel)]="searchString" placeholder="{{getCurrentLabelValue('lblSearchCompany')}}"
        (keyup.enter)="doSearch()" style="height:40px;width:300px;margin-left: 5px;">
      <button class="btn btn-primary from-control" (click)="doSearch()" style="margin-left: 5px;"><i
          class="fa fa-search"></i></button>
      <ul class="nav navbar-nav navbar-right">
        <li style="margin-top: 10px;">
          <button class="btn btn-success from-control" style="margin-right: 5px;" (click)="onAddNewCompany()"><i
              class="fa fa-plus"></i> Create new
            company</button>
        </li>
        <li style="margin-top: 10px;">
          <p-dropdown [options]="cultures" [style]="{'width':'100px'}" [(ngModel)]="selectedCulture"
            (onChange)="onCultureChange()"></p-dropdown>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
            <b>{{getMyAccountText()}}</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu">
            <li *ngIf="!isAuth()">
              <div class="row">
                <div class="col-md-12">
                  <form class="form" role="form" [formGroup]="loginForm" (ngSubmit)="onLogin()" id="login-nav">
                    <div class="form-group">
                      <label class="sr-only" for="email">Email address</label>
                      <input type="text" class="form-control" id="email" formControlName="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="password">
                        {{getCurrentLabelValue('lblPassword')}}</label>
                      <input type="password" class="form-control" id="password" formControlName="password"
                        [placeholder]="getCurrentLabelValue('lblPassword')">
                      <div class="help-block text-right">
                        <a style="cursor: pointer;" (click)="displayConfirmDialog()">
                          {{getCurrentLabelValue('lblForgotPassword')}}</a>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Log
                        in</button>
                    </div>
                  </form>
                </div>
                <div class="bottom text-center">
                  <a [routerLink]="['/register']"
                    style="cursor: pointer;"><b>{{getCurrentLabelValue('lblRegister')}}</b></a>
                </div>
              </div>
            </li>
            <li *ngIf="isAuth()">
              <div class="row">
                <div class="col-md-12">
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12" style="text-align: center;">
                      <a style="cursor: pointer;" [routerLink]="['/myaccount']">
                        <b>
                          {{getCurrentLabelValue('lblAccountDetails')}}
                        </b>
                      </a>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12" style="text-align: center;">
                      <a style="cursor: pointer;" [routerLink]="['/changepassword']">
                        <b>
                          {{getCurrentLabelValue('lblChangePassword')}}
                        </b>
                      </a>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12" style="text-align: center">
                      <a style="cursor: pointer;" [routerLink]="['/mycompanies']">
                        <b>{{getCurrentLabelValue('lblMyCompanies')}}</b></a>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12" style="text-align: center">
                      <a style="cursor: pointer;" [routerLink]="['/mybookings']">
                        <b>
                          {{getCurrentLabelValue('lblMyBookings')}}
                        </b>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="bottom text-center">
                  <a (click)="onLogout()" style="cursor: pointer"><b>Logout</b></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<p-dialog [header]="getCurrentLabelValue('lblConfirmation')" [(visible)]="displayDialog" modal="modal" width="300"
  responsive="true">
  <p>{{getCurrentLabelValue('lblConfirmForgotPassword')}}</p>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="displayDialog=false" [label]="getCurrentLabelValue('lblNo')"></button>
      <button type="button" pButton (click)="onForgotPassword()" [label]="getCurrentLabelValue('lblYes')"></button>
    </div>
  </footer>
</p-dialog>

<p-dialog header="{{getCurrentLabelValue('lblSubscriptions')}}" [(visible)]="showSubscriptionDialog" modal="modal"
  width="1000" responsive="true">
  <div *ngFor="let subscription of subscriptions; let i=index" class="col-md-3">
    <div class="row" style="border-bottom:1px #e6e6e6 solid;background-color: #2399e5; margin-right:1px;">
      <label class="col-sm-4 control-label">{{subscription.subscriptionName}}</label>
    </div>

    <div class="row" style="border-bottom:1px #e6e6e6 solid;margin-right:1px;background-color: #f5f5f5;">
      <div class="col-md-7" style="padding: 5px">{{getCurrentLabelValue('lblMonthlyBookings')}}:</div>
      <div class="col-md-3" style="padding: 5px">
        {{subscription.monthlyBookingsNo==null?getCurrentLabelValue('lblUnlimited'):subscription.monthlyBookingsNo}}
      </div>
    </div>

    <div class="row" style="border-bottom:1px #e6e6e6 solid;margin-right:1px;background-color: #f5f5f5;">
      <div class="col-md-7" style="padding: 5px">{{getCurrentLabelValue('lblLevels')}}:</div>
      <div class="col-md-3" style="padding: 5px">
        {{subscription.levelsNo==null?getCurrentLabelValue('lblUnlimited'):subscription.levelsNo}}</div>
    </div>

    <div class="row" style="border-bottom:1px #e6e6e6 solid;margin-right:1px;background-color: #f5f5f5;">
      <div class="col-md-7" style="padding: 5px">{{getCurrentLabelValue('lblEntitiesPerLevel')}}:</div>
      <div class="col-md-3" style="padding: 5px">
        {{subscription.entitiesPerLevelNo==null?getCurrentLabelValue('lblUnlimited'):subscription.entitiesPerLevelNo}}
      </div>
    </div>

    <div class="row" style="background-color: #f5f5f5;margin-right: 1px;">
      <div class="col-sm-12" style="margin-left: 10px;">
        <label class="radio">
          <input type="radio" name="price" id="rbOneMonth" [(ngModel)]="selectedSubscriptionPrice"
            [value]="subscription.monthlyPrice==null ? subscription.id+'|monthly_0' : subscription.id+'|monthly_'+subscription.monthlyPrice"
            style="cursor: pointer;">
          {{getCurrentLabelValue('lblOneMonth')}}
          ({{subscription.monthlyPrice==null ? 0 : subscription.monthlyPrice}} EUR) </label>
        <label class="radio">
          <input type="radio" name="price" id="rbOneYear" style="cursor: pointer;"
            [(ngModel)]="selectedSubscriptionPrice"
            [value]="subscription.yearlyPrice==null ? subscription.id+'|yearly_0' : subscription.id+'|yearly_'+subscription.yearlyPrice">
          {{getCurrentLabelValue('lblOneYear')}}
          ({{subscription.yearlyPrice==null ? 0 : subscription.yearlyPrice}} EUR)</label>
      </div>
    </div>
  </div>

  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="chooseSubscription()" label="OK"></button>
    </div>
  </footer>
</p-dialog>

<p-dialog header="Confirm" [(visible)]="displayConfirmAddCompany" [responsive]="true" showEffect="fade" [modal]="true"
  width="350">
  <bf-generic-confirm-dialog [confirmMessage]="confirmAddCompanyMessage" (onConfirm)="onConfirmAddCompany($event)">
  </bf-generic-confirm-dialog>
</p-dialog>

<p-growl [value]="pageMsgs"></p-growl>