<legend style="margin-bottom: 10px;">My Bookings</legend>
<div *ngIf="bookings" class="row" style="height: 100%;">
  <div class="col-md-2" style="height: 100%; overflow: auto;">
    <ol style="padding:0px;">
      <li class="list-group-item" style="cursor:pointer" *ngFor="let booking of bookings; let i = index" (click)="selectBooking(booking)"
      [ngClass]="{'selected': (selectedBooking!=null ? booking.id == selectedBooking.id : false)}">{{booking.startDate | date:'dd MMM y'}}</li>
    </ol>
  </div>
  <div *ngIf="selectedBooking" class="col-md-3">
    <div *ngFor="let entity of selectedBooking.entities">
      <div class="label label-default">{{entity.entityName_EN}}</div>
      <div>
        <img *ngIf="entity.images.length>0" [src]="'data:image/png;base64,'+entity.images[0].img"
          style="cursor:pointer; height: auto;width: auto;max-height: 150px;max-width: 100%;">
        <img *ngIf="entity.images.length==0" [src]="COMP_IMG"
          style="height: auto;width: auto;max-height: 100px;max-width: 100%;">
      </div>
    </div>
  </div>
  <div *ngIf="selectedBooking" class="col-md-7">
      <!-- <div class="row" style="padding-left:20px;padding-right: 20px;">
          <h4 *ngFor="let entity of selectedBooking.entities" style="display: inline-block; padding-left:5px;padding-right: 5px;">
            <span class="label label-default">{{currentCulture == 'EN' ? entity.entityName_EN : entity.entityName_RO}}</span>
          </h4>          
        </div>
        <br> -->
        <form class="form-horizontal" style="height: 100%; width:100%;">          
          <div>            
            <div class="ui-grid ui-grid-responsive ui-fluid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label style="padding: 5px;" for="startTime">Start Time:</label>
                </div>
                <div class="col-md-1">
                  <span>{{selectedBooking.startTime | date:'HH:mm'}}</span>
                </div>
              </div>
            </div>
            <br>
            <div class="ui-grid ui-grid-responsive ui-fluid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                  <label style="padding: 5px;" for="endTime">End Time:</label>
                </div>
                <div class="col-md-1">
                  <span>{{selectedBooking.endTime | date:'HH:mm'}}</span>
                </div>
              </div>
            </div>
            <br>
          </div>
          <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button class="btn btn-danger" (click)="showConfirmDialog()">
                <i class="fa fa-remove"> Cancel booking</i>
              </button>
            </div>
          </footer>
        </form>                           
  </div>
</div>

<p-dialog [header]="getCurrentLabelValue('lblConfirmation')" [(visible)]="displayConfirmDialog" modal="modal" width="300"
  responsive="true">
  <p>Sunteti sigur ca doriti sa anulati programarea?</p>
  <footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="displayConfirmDialog=false" [label]="getCurrentLabelValue('lblNo')"></button>
      <button type="button" pButton (click)="onCancelBooking()" [label]="getCurrentLabelValue('lblYes')"></button>
    </div>
  </footer>
</p-dialog>
<p-growl [value]="pageMsgs"></p-growl>