<div class="row">
  <div class="col-12 px-0">

  <div class="landing-banner py-5">
    <div class="container">
  <div class="row">
    <div class="col-12 col-md-7 my-4">
      <h1 class="mt-5 text-shadow text-white">Programează-te <b>instant</b></h1>
      <h2 class="text-primary-dark my-3"><b>Oriunde</b> ai nevoie!</h2>
      <h4 class="text-white text-shadow-sm">
        coafor <i class="fa fa-circle"></i>
         dentist <i class="fa fa-circle"></i>
        service auto <i class="fa fa-circle"></i>                 
         veterinar <i class="fa fa-circle"></i>
        restaurant</h4>
      <a class="btn btn-lg btn btn-outline-light text-primary-dark my-3" (click)="navigate()"><i class="fa fa-arrow-circle-right"></i>
        Start</a>
    </div>
    <div class="col-12 col-md-5">
      <img [src]="COMP_Banner" class="img-fluid">
    </div>
  </div>
  </div>
  


</div></div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-7">
      <img [src]="COMP_Banner1" class="img-fluid">
      <!-- <img [src]="COMP_Banner1" class="img-fluid"> -->
    </div>
    <div class="col-5 my-5">
      <h2 class="mt-4">Descarcă <b>aplicația</b></h2>
      <p class="my-4">Programează-te oriunde ai nevoie cu aplicatia mobila Booxy - cea mai bună metoda de a
      descoperi centrele din zona ta.</p>

      <a><img [src]="APP_GooglePlay" class="img-fluid" style="height: 50px;"> </a>
      <a><img [src]="APP_Store" class="img-fluid mx-3" style="height: 50px;"> </a>

    </div>
  </div>
</div>