<h5>{{getCurrentLabelValue('lblUsers')}}</h5>


<div class="row">
  <div class="col-md-6">
    <p-table [value]="users" selectionMode="single" [(selection)]="selectedUser"
      (onRowSelect)="onRowSelect($event)" [responsive]="true" scrollable="true" scrollHeight="450px">
      <ng-template pTemplate="header">
        <tr>
          <th>{{getCurrentLabelValue('lblEmail')}}</th>
          <th>{{getCurrentLabelValue('lblPhone')}}</th>
          <th>{{getCurrentLabelValue('lblName')}}</th>
          <th>{{getCurrentLabelValue('lblRole')}}</th>          
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr [pSelectableRow]="user">
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.firstName +' '+ user.lastName}}</td>
          <td>{{user.roles[0].roleName}}</td>          
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-md-6">

    <div class="row mb-1">
      <div class="col-md-2">
        <label class="control-label">{{getCurrentLabelValue('lblCreationDate')}}:</label>
      </div>
      <div class="col-md-4">
        {{selectedUser? (selectedUser.creationDate | date:'dd MMM yyyy HH:mm:ss') :''}}
      </div>
      <div class="col-md-2">
        <label class="control-label">{{getCurrentLabelValue('lblLastLogin')}}:</label>
      </div>
      <div class="col-md-4">
        {{selectedUser? (selectedUser.lastLoginDate | date:'dd MMM yyyy HH:mm:ss'):''}}
      </div>
    </div>
    <form class="form-horizontal" id="user-form" [formGroup]="userForm"
      (ngSubmit)="onSave()">
      <div class="row mb-1">
        <div class="col-md-2" >
          <label class="control-label" for="firstName">{{getCurrentLabelValue('lblFirstName')}}:</label>
        </div>
        <div class="col-md-4">
          <input id="firstName" [ngClass]="{'valid-control':userForm.controls['firstName'].valid,
                        'invalid-control':!userForm.controls['firstName'].valid}" formControlName="firstName"
            type="text" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="control-label" for="lastName">{{getCurrentLabelValue('lblLastName')}}:</label>
        </div>
        <div class="col-md-4">
          <input type="text" id="lastName" [ngClass]="{'valid-control':userForm.controls['lastName'].valid,
                        'invalid-control':!userForm.controls['lastName'].valid}" formControlName="lastName"
            class="form-control">
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-2">
          <label class="control-label" for="phone">{{getCurrentLabelValue('lblPhone')}}:</label>
        </div>
        <div class="col-md-4">
          <input id="phone" type="text" formControlName="phone" [ngClass]="{'valid-control':userForm.controls['phone'].valid,
                        'invalid-control':!userForm.controls['phone'].valid}" class="form-control">
        </div>
        <div class="col-md-2">
          <label *ngIf="isAdd" class="control-label" for="email">{{getCurrentLabelValue('lblEmail')}}:</label>
        </div>
        <div class="col-md-4">
          <input *ngIf="isAdd" type="text" id="email" formControlName="email" [ngClass]="{'valid-control':userForm.controls['email'].valid,
                        'invalid-control':!userForm.controls['email'].valid}" class="form-control">
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-2">
          <label class="control-label" for="ddlRoles">{{getCurrentLabelValue('lblRole')}}:</label>
        </div>
        <div class="col-md-4">          
          <select formControlName="role" class="form-control">
            <option *ngFor="let r of roles" [value]="r.idRole">
              {{r.roleName}}</option>
          </select>
        </div> 
        
        
        <div class="col-md-2">
          <label class="control-label" for="ddlEntities">{{getCurrentLabelValue('lblLinkedTo')}}:</label>
        </div>
        <div class="col-md-4">
          <select formControlName="entity" class="form-control">
            <option value="0">None</option>
            <option *ngFor="let e of entities" [value]="e.id">
              {{currentCulture == 'EN' ? e.entityName_EN : e.entityName_RO}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div *ngIf="!isAdd" class="col-md-12">
          <input type="button" value="{{getCurrentLabelValue('lblAdd')}}" (click)="onAdd()" class="btn btn-primary">

          <button [disabled]="!userForm.valid" type="submit" class="btn btn-success mx-2">
            <i class="fa fa-save"></i> {{getCurrentLabelValue('lblSave')}}
          </button>

          <input *ngIf="selectedUser" type="button" value="{{getCurrentLabelValue('lblDelete')}}" (click)="onDelete()" class="btn btn-danger">
        </div>
      </div>
    </form>
  </div>
</div>

<p-growl [value]="pageMsgs"></p-growl>