<div class="container my-4">
 <h2>{{getCurrentLabelValue('lblFavourites')}}</h2>

<div class="row">
  <div *ngIf="companies.length == 0">{{getCurrentLabelValue('lblNoFavourites')}}</div>
  <div (click)="goToCompanyDetails(company.id,company.name)" *ngFor="let company of companies; let i=index"
    class="col-12 col-md-4 col-sm-6">

    <div class="card shadow mb-3" style="min-height: 385px;">
      <div class="bg-light text-center">
        <img *ngIf="company.image"
          [src]="company.image.length==0 ? COMP_IMG : domSanitizationService.bypassSecurityTrustUrl('data:image/png;base64,'+company.image[0].img)"
          class="w-100 card-img-top pointer">

        <a class="float-right position-absolute pointer" (click)="deleteFavourite(company.id, $event)" style="right: 15px; top: 15px;"><i
            class="fa fa-heart fa-2x text-danger"></i></a>
        <!-- daca e bifat: fa-heart in floc de fa-heart-o"></i> -->
      </div><div class="card-body">
        <h4 class="card-title">{{company.name}}
          <p class="small float-right text-success">
            {{currentCulture == 'EN' ? company.categoryName_EN : company.categoryName_RO}}</p>
      
        </h4>
        <div class="row card-text">
          <div class="col-md-4 d-none">{{getCurrentLabelValue('lblCategory')}}:</div>
          <div class="col-md-8 d-none">{{currentCulture == 'EN' ? company.categoryName_EN : company.categoryName_RO}}</div>
          <div class="col-md-4 d-none">Email:</div>
          <div class="col-md-8 d-none">{{company.email}}</div>
          <div class="col-md-4 d-none">{{getCurrentLabelValue('lblCity')}}:</div>
          <div class="col-md-8 d-none">{{company.cityName}}</div>
          <div class="col-md-4 d-none">{{getCurrentLabelValue('lblAddress')}}:</div>
          <div class="col-md-8">{{company.address}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


 
</div>


<p-growl [value]="pageMsgs"></p-growl>