<!-- <div class="row">
  <div class="col-md-12 my-2">
    <h3>{{getCurrentLabelValue('lblClients')}}</h3>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12 my-2">
    <h3>{{companyName}} <small
        class="text-secondary">{{getCurrentLabelValue('lblClients')}}</small></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p-table #dt [value]="clients" selectionMode="single" [responsive]="true" scrollable="true" scrollHeight="500px">
      <!-- <ng-template pTemplate="caption">
        Entities
      </ng-template> -->
      <ng-template pTemplate="header">
        <tr>
          <th [ngSwitch]="'email'">{{getCurrentLabelValue('lblEmail')}}
            <input *ngSwitchCase="'email'" pInputText type="text"
              (input)="dt.filter($event.target.value, 'email', 'contains')" class="form-control form-control-sm">
          </th>
          <th [ngSwitch]="'phone'">{{getCurrentLabelValue('lblPhone')}}
            <input *ngSwitchCase="'phone'" pInputText type="text"
              (input)="dt.filter($event.target.value, 'phone', 'contains')" class="form-control form-control-sm">
          </th>
          <th [ngSwitch]="'firstName'">{{getCurrentLabelValue('lblName')}}
            <input *ngSwitchCase="'firstName'" pInputText type="text"
              (input)="dt.filter($event.target.value, 'firstName', 'contains')" class="form-control form-control-sm">
          </th>
          <th>{{getCurrentLabelValue('lblTotalBookings')}}</th>
          <th>{{getCurrentLabelValue('lblActiveBookings')}}</th>
          <th>{{getCurrentLabelValue('lblHonoredBookings')}}</th>
          <th>{{getCurrentLabelValue('lblCanceledBookings')}}</th>
          <th>
            <!-- <button type="button" class="btn btn-primary">
              <i class="fa fa-search">View bookings</i>
            </button> -->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-client>
        <tr [pSelectableRow]="client">
          <td class="text-truncate" title="{{client.email}}">{{client.email}}</td>
          <td class="text-truncate" title="{{client.phone}}">{{client.phone}}</td>
          <td class="text-truncate" title="{{client.firstName +' '+ client.lastName}}">{{client.firstName +' '+ client.lastName}}</td>
          <td class="text-truncate" title="{{client.totalBookings}}">{{client.totalBookings}}</td>
          <td class="text-truncate" title="{{client.activeBookings}}">{{client.activeBookings}}</td>
          <td class="text-truncate" title="{{client.honoredBookings}}">{{client.honoredBookings}}</td>
          <td class="text-truncate" title="{{client.canceledBookings}}">{{client.canceledBookings}}</td>
          <td>
            <a class="btn btn-sm btn-links"
              (click)="selectedPhone=client.phone; displayLatestBookings=true">
              <i class="fa fa-eye fa-lg text-warning"> </i> {{getCurrentLabelValue('lblViewBookings')}}
          </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog appendTo="body" header="{{getCurrentLabelValue('lblLatestBookings')}}" [(visible)]="displayLatestBookings" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{width: '1400px',  height: '500px'}" [contentStyle]="{'min-height':'500px'}">
  <div class="container-fluid">
  <bf-bookings-history [isDialog]="true" [phone]="selectedPhone"></bf-bookings-history>
  </div>
</p-dialog>

<p-growl [value]="pageMsgs"></p-growl>