<legend style="margin-bottom: 10px;">{{getCurrentLabelValue('lblClients')}}</legend>
<div class="row" style="height: 100%;">
  <div class="col-md-12" style="height: 100%;">
    <p-table #dt [value]="clients" selectionMode="single" [responsive]="true" scrollable="true" scrollHeight="99%">
      <!-- <ng-template pTemplate="caption">
        Entities
      </ng-template> -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width:150px;text-align:center" [ngSwitch]="'email'">{{getCurrentLabelValue('lblEmail')}}
            <input *ngSwitchCase="'email'" pInputText type="text"
              (input)="dt.filter($event.target.value, 'email', 'contains')" style="width: 130px;">
          </th>
          <th style="width:150px;text-align:center" [ngSwitch]="'phone'">{{getCurrentLabelValue('lblPhone')}}
            <input *ngSwitchCase="'phone'" pInputText type="text"
              (input)="dt.filter($event.target.value, 'phone', 'contains')" style="width: 130px;">
          </th>
          <th style="width:150px;text-align:center" [ngSwitch]="'firstName'">{{getCurrentLabelValue('lblName')}}
            <input *ngSwitchCase="'firstName'" pInputText type="text"
              (input)="dt.filter($event.target.value, 'firstName', 'contains')" style="width: 130px;">
          </th>
          <th style="width:150px;text-align:center">{{getCurrentLabelValue('lblTotalBookings')}}</th>
          <th style="width:150px;text-align:center">{{getCurrentLabelValue('lblActiveBookings')}}</th>
          <th style="width:150px;text-align:center">{{getCurrentLabelValue('lblHonoredBookings')}}</th>
          <th style="width:150px;text-align:center">{{getCurrentLabelValue('lblCanceledBookings')}}</th>
          <th style="width:150px;text-align:center">
            <!-- <button type="button" class="btn btn-primary">
              <i class="fa fa-search">View bookings</i>
            </button> -->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-client>
        <tr [pSelectableRow]="client">
          <td style="width:150px;text-align:center">{{client.email}}</td>
          <td style="width:150px;text-align:center">{{client.phone}}</td>
          <td style="width:150px;text-align:center">{{client.firstName +' '+ client.lastName}}</td>
          <td style="width:150px;text-align:center">{{client.totalBookings}}</td>
          <td style="width:150px;text-align:center">{{client.activeBookings}}</td>
          <td style="width:150px;text-align:center">{{client.honoredBookings}}</td>
          <td style="width:150px;text-align:center">{{client.canceledBookings}}</td>
          <td style="width:150px;text-align:center">
            <button type="button" class="btn btn-primary"
              (click)="selectedPhone=client.phone; displayLatestBookings=true">
              <i class="fa fa-search"> {{getCurrentLabelValue('lblViewBookings')}}</i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog appendTo="body" header="{{getCurrentLabelValue('lblLatestBookings')}}" [(visible)]="displayLatestBookings" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{width: '900px',  height: '500px'}" [contentStyle]="{'min-height':'500px'}">
  <bf-bookings-history [isDialog]="true" [phone]="selectedPhone"></bf-bookings-history>
</p-dialog>

<p-growl [value]="pageMsgs"></p-growl>