body {
  font-family: 'Open Sans',
  sans-serif !important;
}
.pointer {
  cursor: pointer;
}
.bolder {
  font-weight: 600 !important;
}
.ui-dropdown {
  min-width: auto!important;
}
.tab-content {
  margin-bottom: 50px;
}
body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight,
body .ui-table .ui-table-tbody>tr.ui-state-highlight {
  background-color: #cce5ff!important;
  color: #000 !important;
}
.bg-info-btm {  
  background-color: rgba(19, 119, 218, 1);
}
.container-fluid {
}
.container {
  max-width: 1280px;
}
.landing-banner {
  background: rgb(153, 239, 217);
  background: linear-gradient(-30deg, rgba(153, 239, 217, 1) 0%, rgba(19, 119, 218, 1) 100%);

}
h1, h2, h3, h4, h5, h6  {
  font-family: 'Montserrat', sans-serif;
  
}
h1 {
  font-size: 4rem !important;
}
.text-shadow {
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.text-shadow-sm {
  text-shadow: 0 .15rem .25rem rgba(0, 0, 0, .075) !important;
}
.text-success-light {
  color: #99efd9;
}
.bg-success-light {
  background: rgb(153, 239, 217);
}
.text-primary-dark {
  color: #003356!important;
} 

body .ui-dialog .ui-dialog-titlebar {
  border: none!important;
  background: rgb(153, 239, 217)!important;
}
body .ui-dialog .ui-dialog-content {
  border: none !important;
}
.btn-success,
.btn-outline-success:hover {
  background-color: #1b8973 !important;
  border-color: #1b8973 !important;
}
.btn-primary {
  background-color: #003356 !important;

  border-color: #003356 !important;
}
.bg-success-light .text-primary {
  color: #003356!important;
}
