.pointer {
  cursor: pointer;
}

.ui-dropdown {
  min-width: auto!important;
}
.tab-content {
  margin-bottom: 50px;
}
body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight,
body .ui-table .ui-table-tbody>tr.ui-state-highlight {
  background-color: #cce5ff!important;
  color: #000 !important;
}