<legend>{{getCurrentLabelValue('lblChangePassword')}}</legend>
<div class="row" style="height: 100%;">
   <div class="col-md-12" style="height: 100%;">    
      <form class="form-horizontal" style="margin-right: 10px;" id="password-form" 
      [formGroup]="passwordForm" (ngSubmit)="onSave()">
        
          <div class="form-group">
              <label class="col-md-4 control-label" for="currentPassword">{{getCurrentLabelValue('lblCurrentPassword')}}:</label>
            <div class="col-md-4">
              <input type="password" id="currentPassword" formControlName="currentPassword" 
                [ngClass]="{'valid-control':passwordForm.controls['currentPassword'].valid,
                        'invalid-control':!passwordForm.controls['currentPassword'].valid}"
                class="form-control">
            </div>
          </div>
          
            <div class="form-group">
                <label class="col-md-4 control-label" for="newPassword">{{getCurrentLabelValue('lblNewPassword')}}:</label>
              <div class="col-md-4">
                <input type="password" id="newPassword" formControlName="newPassword" 
                  [ngClass]="{'valid-control':passwordForm.controls['newPassword'].valid && passwordsMatch,
                          'invalid-control':!passwordForm.controls['newPassword'].valid || !passwordsMatch}"
                  class="form-control">
              </div>
            </div>  
            <div class="form-group">
                <label class="col-md-4 control-label" for="confirmNewPassword">{{getCurrentLabelValue('lblConfirmNewPassword')}}:</label>
              <div class="col-md-4">
                <input type="password" id="confirmNewPassword" formControlName="confirmNewPassword" 
                  [ngClass]="{'valid-control':passwordForm.controls['confirmNewPassword'].valid && passwordsMatch,
                          'invalid-control':!passwordForm.controls['confirmNewPassword'].valid || !passwordsMatch}"
                  class="form-control">
              </div>
            </div>                 
          
          
          <div class="form-group"> 
            <label class="col-md-4 control-label" for="btnSubmit"></label>        
            <div class="col-md-4">
                  <input [disabled]="!passwordForm.valid" type="submit" id="btnSubmit" [value]="getCurrentLabelValue('lblSave')" 
                  class="btn btn-success from-control" style="width: 100%">
              </div>                                                                     
          </div>        
      </form>
  </div>
</div>
<p-growl [value]="pageMsgs"></p-growl>