<legend>{{getCurrentLabelValue('lblMyAccount')}}</legend>
<div class="row" style="height: 100%;">
   <div class="col-md-12" style="height: 100%;">    
      <form class="form-horizontal" style="margin-right: 10px;" id="user-form" 
      [formGroup]="userForm" (ngSubmit)="onSave()">

       <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email:</label>
            <div class="col-md-4">
              <input type="text" id="email" formControlName="email" 
                [ngClass]="{'valid-control':userForm.controls['email'].valid,
                        'invalid-control':!userForm.controls['email'].valid}"
                class="form-control">
            </div>
          </div>   
          
        <div class="form-group">
          <label class="col-md-4 control-label" for="firstName">{{getCurrentLabelValue('lblFirstName')}}:</label>  
          <div class="col-md-4">
            <input id="firstName" [ngClass]="{'valid-control':userForm.controls['firstName'].valid,
                        'invalid-control':!userForm.controls['firstName'].valid}" 
                formControlName="firstName" type="text" class="form-control input-md">
          </div>
        </div>
          <!-- Text input-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="lastName">{{getCurrentLabelValue('lblLastName')}}:</label>
            <div class="col-md-4">
              <input type="text" id="lastName" 
                [ngClass]="{'valid-control':userForm.controls['lastName'].valid,
                        'invalid-control':!userForm.controls['lastName'].valid}"
                formControlName="lastName" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group">
              <label class="col-md-4 control-label" for="phone">{{getCurrentLabelValue('lblPhone')}}:</label>
            <div class="col-md-4">
              <input id="phone" type="text" formControlName="phone" 
                [ngClass]="{'valid-control':userForm.controls['phone'].valid,
                        'invalid-control':!userForm.controls['phone'].valid}"
                class="form-control">
            </div>
          </div>
                       
          
          <!--<div id="spacer" class="row" style="height: 55%;"></div>         -->
          <div class="form-group"> 
            <label class="col-md-4 control-label" for="btnSubmit"></label>        
            <div class="col-md-4">
                  <input [disabled]="!userForm.valid" type="submit" id="btnSubmit" 
                  [value]="getCurrentLabelValue('lblSave')" 
                  class="btn btn-success from-control" style="width: 100%">
              </div>                                                                     
          </div>        
      </form>
  </div>
</div>
<p-growl [value]="pageMsgs"></p-growl>
