<div class="mt-3 p-4">
  <div class="container">


      <div class="row">
        <div class="col-md-12 mb-3">
          <h3>{{getCurrentLabelValue('lblMyAccount')}}</h3>
        </div>
      </div>

<div class="row">
  <div class="col-lg-8">

      <form class="form-horizontal" id="user-form" 
      [formGroup]="userForm" (ngSubmit)="onSave()">

       <div class="form-group row">
              <label class="col-md-4 control-label" for="email">Email:</label>
            <div class="col-md-8">
              <input type="text" id="email" formControlName="email" 
                [ngClass]="{'valid-control':userForm.controls['email'].valid,
                        'invalid-control':!userForm.controls['email'].valid}"
                class="form-control">
            </div>
          </div>   
          
        <div class="form-group row">
          <label class="col-md-4 control-label" for="firstName">{{getCurrentLabelValue('lblFirstName')}}:</label>  
          <div class="col-md-8">
            <input id="firstName" [ngClass]="{'valid-control':userForm.controls['firstName'].valid,
                        'invalid-control':!userForm.controls['firstName'].valid}" 
                formControlName="firstName" type="text" class="form-control input-md">
          </div>
        </div>
          <!-- Text input-->
          <div class="form-group row">
              <label class="col-md-4 control-label" for="lastName">{{getCurrentLabelValue('lblLastName')}}:</label>
            <div class="col-md-8">
              <input type="text" id="lastName" 
                [ngClass]="{'valid-control':userForm.controls['lastName'].valid,
                        'invalid-control':!userForm.controls['lastName'].valid}"
                formControlName="lastName" class="form-control input-md">
            </div>
          </div>
          <!-- Text input-->
          <div class="form-group row">
              <label class="col-md-4 control-label" for="phone">{{getCurrentLabelValue('lblPhone')}}:</label>
            <div class="col-md-8">
              <input id="phone" type="text" formControlName="phone" 
                [ngClass]="{'valid-control':userForm.controls['phone'].valid,
                        'invalid-control':!userForm.controls['phone'].valid}"
                class="form-control">
            </div>
          </div>
                       
          
          <div class="form-group row"> 
            <label class="col-md-4 control-label" for="btnSubmit"></label>        
            <div class="col-md-4">
                  <input [disabled]="!userForm.valid" type="submit" id="btnSubmit" 
                  [value]="getCurrentLabelValue('lblSave')" 
                  class="btn btn-success">
              </div>                                                                     
          </div>        
      </form>
  </div>
</div>
  </div>
</div>
<p-growl [value]="pageMsgs"></p-growl>
