
<div class="container">
<div class="row">
  <div class="col-md-12 my-2">
    <h3>{{companyName}}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="alert alert-info">
    <!-- <bf-booking-filter (filterChanged)="filterChanged($event)"></bf-booking-filter> -->
    <bf-booking-filter2 [idCompany]="idCompany" [selectedDate]="shiftedDate" (filterChanged)="filterChanged($event)"></bf-booking-filter2>   
  </div>
  </div>
  <div *ngIf="bookingDefaultDuration" class="col-md-9 mb-5">
    <!-- <bf-booking-calendar *ngIf="showCalendarBooking"></bf-booking-calendar> -->
    <bf-booking-hours *ngIf="!showCalendarBooking" [idCompany]="idCompany" [selectedFilter]="selectedFilter" 
    (selectDate)="onShiftWeek($event)" (selectTimeSlot)="onSelectBookingHour($event)"></bf-booking-hours>
  </div>
</div>

<p-dialog header="Confirm Booking" (onHide)="onCloseConfirmDialog()" [(visible)]="displayDialogConfirmBooking" 
[responsive]="true" showEffect="fade" [modal]="true"
  width="700">
  <bf-booking-confirm-dialog [resetCaptcha]="resetCaptcha" [isBookingByDay]="showCalendarBooking" [selectedDayTime]="selectedBookingHourTransferObject?selectedBookingHourTransferObject.workingDay:null"
  [autoAssignedEntityCombination]="autoAssignedEntityCombination" [idCompany]="idCompany" (bookingSaved)="bookingSaved($event)"></bf-booking-confirm-dialog>
</p-dialog>

<p-growl [value]="pageMsgs"></p-growl>

</div>